Repository ZdenekD/zdenekd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

Update packages, Edit webhint task
  package.json
  yarn.lock
Due: prettier --write

Remove `about` page
  src/data/pages.js
  src/pages/about.jsx
Due: eslint --cache --fix

Add cypress config file, Add some pages tests
  __test__/cypress/integration/contact.spec.js
  __test__/cypress/integration/index.spec.js
  __test__/cypress/integration/projects.spec.js
  cypress.json
  src/pages/_app.jsx
  src/pages/contact.jsx
  src/pages/index.jsx
  src/pages/projects.jsx
Due: eslint --cache --fix, prettier --write

Add cypress github action
  .github/workflows/cypress.yml
Due: prettier --write

Update package babel/core
  package.json
  yarn.lock
Due: prettier --write

Remove rest of `about` page
  src/__test__/about.spec.js
  src/components/aside/__snapshots__/aside.spec.js.snap
  src/pages/_app.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Add cypress badge to README
  README.md
Due: prettier --write

Update footer keys
  src/components/footer/keys/keyLeft/keyLeft.jsx
  src/components/footer/keys/keyRight/keyRight.jsx
  src/components/footer/keys/keys.jsx
Due: eslint --cache --fix

Edit content render
  src/components/layout/main/main.jsx
Due: eslint --cache --fix

Edit project navigation arrow opacity in disabled state
  src/components/project/project.css
Due: stylelint --cache --fix --color --formatter verbose

Edit content load animation
  src/components/content/content.css
  src/components/content/content.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Add footer e-mail contact
  src/assets/images/icon_message.svg
  src/components/footer/footer.css
  src/components/footer/footer.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update outline style
  src/components/aside/aside.css
  src/components/footer/footer.css
  src/components/footer/keys/keys.css
  src/components/heading/heading.css
  src/components/menu/menu.css
  src/components/project/project.css
Due: stylelint --cache --fix --color --formatter verbose

Change footer link to snap anchor
  src/components/footer/footer.jsx
Due: eslint --cache --fix

Add error page animation (404)
  src/pages/_app.css
  src/pages/_app.jsx
  src/pages/_error.css
  src/pages/_error.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Small content edit
  src/components/content/content.css
  src/components/content/content.jsx
  src/components/footer/footer.css
  src/data/projects.js
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit loader animation
  src/components/loader/loader.css
Due: stylelint --cache --fix --color --formatter verbose

Edit tests
  src/__test__/_error.spec.js
  src/components/footer/keys/__snapshots__/keys.spec.js.snap
Due: eslint --cache --fix

Responsive updates
  src/assets/styles/reset.css
  src/components/aside/aside.css
  src/components/cursor/cursor.css
  src/components/header/header.css
  src/components/heading/heading.css
  src/components/menu/menu.css
  src/components/project/project.css
Due: stylelint --cache --fix --color --formatter verbose

Install lottie web
  package.json
  yarn.lock
Due: prettier --write

Update error page
  src/pages/_error.css
  src/pages/_error.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit content animations
  src/components/content/content.css
  src/components/content/content.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit headings, Add preconnect and prefetch for cloudfront
  src/assets/images/icon_message.svg
  src/components/content/content.css
  src/components/heading/heading.css
  src/components/heading/heading.jsx
  src/components/layout/main/main.jsx
  src/components/project/project.jsx
  src/pages/_error.jsx
  src/pages/contact.jsx
  src/pages/index.jsx
  src/pages/projects.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Checklist
  CHECKLIST.md
Due: prettier --write

Install and add jest canvas mock because of lottie
  jest.config.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Edit heading
  src/components/heading/__snapshots__/heading.spec.js.snap
  src/components/heading/heading.jsx
Due: eslint --cache --fix

Add robots and sitemap, Fix heading animation, Minor upgrade some packages
  .gitignore
  public/robots.txt
  public/sitemap.xml
  src/components/content/content.jsx
  yarn.lock
Due: eslint --cache --fix

Add client sentry
  package.json
  yarn.lock
Due: prettier --write

Add sentry, Edit error component
  src/pages/_app.jsx
  src/pages/_error.jsx
Due: eslint --cache --fix

Add noscript content, Add apple mobile meta tags
  src/components/content/content.css
  src/components/content/content.jsx
  src/components/layout/main/main.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update pages description
  src/data/pages.js
Due: eslint --cache --fix

Checklist
  CHECKLIST.md
  src/components/content/content.css
Due: stylelint --cache --fix --color --formatter verbose, prettier --write

Updated snapshot
  src/components/content/__snapshots__/content.spec.js.snap
Due: none

Update tests with store
  src/components/aside/aside.spec.js
  src/components/footer/footer.spec.js
  src/components/heading/heading.spec.js
  src/components/menu/menu.spec.js
Due: eslint --cache --fix

Update test for project actions
  src/pages/_error.jsx
  src/store/project/actions.spec.js
Due: eslint --cache --fix

Update footer keys tests
  src/components/footer/keys/__snapshots__/keys.spec.js.snap
  src/components/footer/keys/keyDown/__snapshots__/keyDown.spec.js.snap
  src/components/footer/keys/keyDown/keyDown.spec.js
  src/components/footer/keys/keyLeft/__snapshots__/keyLeft.spec.js.snap
  src/components/footer/keys/keyLeft/keyLeft.spec.js
  src/components/footer/keys/keyRight/__snapshots__/keyRight.spec.js.snap
  src/components/footer/keys/keyRight/keyRight.spec.js
  src/components/footer/keys/keyUp/__snapshots__/keyUp.spec.js.snap
  src/components/footer/keys/keyUp/keyUp.spec.js
  src/components/footer/keys/keys.spec.js
  src/components/form/__snapshots__/form.spec.js.snap
  src/components/form/button/button.jsx
  src/components/menu/__snapshots__/menu.spec.js.snap
Due: eslint --cache --fix

Fix cypress tests after button component update
  __test__/cypress/integration/contact.spec.js
  __test__/cypress/integration/index.spec.js
  __test__/cypress/integration/projects.spec.js
Due: eslint --cache --fix

Update document head, Add google analytics
  src/components/layout/main/main.jsx
  src/pages/_app.jsx
  src/pages/_document.js
Due: eslint --cache --fix

Add simple welcome text
  src/assets/styles/helpers.css
  src/components/content/content.jsx
  src/data/pages.js
  src/pages/_index.css
  src/pages/homepage.css
  src/pages/index.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Small updates
  src/components/anchor/anchor.jsx
  src/components/aside/aside.css
  src/components/aside/aside.jsx
  src/components/footer/footer.jsx
  src/components/project/project.css
  src/components/project/project.jsx
  src/pages/_index.css
  src/pages/index.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx}
  stylelint --cache --fix --color --formatter verbose: any of: *.css
  prettier --write: any of: *.{json,md,yml,html}
