Repository ZdenekD/zdenekd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

.lintstagedrc:

{
    "*.{js,jsx}": [
      "eslint --cache --fix"
    ],
    "*.css": [
      "stylelint --cache --fix --color --formatter verbose"
    ],
    "*.{json,md,yml,html}": [
      "prettier --write"
    ]
}

Edit cursor component
  src/components/cursor/cursor.css
  src/components/cursor/cursor.jsx
  src/hooks/cursor.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update reducers to spread payload
  src/components/aside/aside.jsx
  src/components/menu/menu.jsx
  src/pages/_app.jsx
  src/store/app/actions.spec.js
  src/store/app/reducer.js
  src/store/menu/actions.spec.js
  src/store/menu/reducer.js
Due: eslint --cache --fix

Update cursor component to be sticky (add context)
  src/components/cursor/cursor.css
  src/components/cursor/cursor.jsx
  src/components/form/button/button.jsx
  src/components/layout/main/main.jsx
  src/components/menu/menu.css
  src/components/menu/menu.jsx
  src/hooks/hover.jsx
  src/pages/_app.jsx
  src/state/cursor/actions.js
  src/state/cursor/reducer.js
  src/state/index.js
  src/state/reducer.js
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Remove console log
  src/state/cursor/reducer.js
Due: eslint --cache --fix

Update state management
  src/components/layout/main/main.jsx
  src/hooks/hover.jsx
  src/state/cursor/reducer.js
  src/state/index.js
  src/state/state.js
Due: eslint --cache --fix

Edit some cursor styles
  src/components/cursor/cursor.css
  src/components/cursor/cursor.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit footer keys navigation
  src/components/footer/footer.css
  src/components/footer/footer.jsx
  src/components/layout/main/main.jsx
  src/pages/_app.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Handle projects browser buttons, Edit cursor colors
  src/assets/images/icon_open.svg
  src/components/cursor/cursor.css
  src/components/cursor/cursor.jsx
  src/components/footer/footer.css
  src/components/footer/footer.jsx
  src/components/heading/heading.jsx
  src/components/menu/menu.css
  src/components/menu/menu.jsx
  src/components/project/project.css
  src/components/project/project.jsx
  src/data/projects.js
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit content animation
  src/components/aside/aside.jsx
  src/components/content/content.css
  src/components/content/content.jsx
  src/components/form/form.jsx
  src/components/project/project.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit cursor stuck state
  src/components/content/content.css
  src/components/cursor/cursor.css
  src/components/cursor/cursor.jsx
  src/components/form/button/button.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update aside navigation underline animations
  src/components/aside/aside.css
  src/components/aside/aside.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Add transitions between projects
  src/components/project/project.css
  src/components/project/project.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Add small parallax transitions, Edit project browser shadow
  src/assets/styles/transition.css
  src/assets/styles/variables.css
  src/components/aside/aside.css
  src/components/content/content.css
  src/components/cursor/cursor.jsx
  src/components/footer/footer.css
  src/components/form/button/button.css
  src/components/heading/heading.css
  src/components/heading/heading.jsx
  src/components/project/project.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update projects
  src/components/aside/aside.css
  src/components/content/content.css
  src/components/footer/footer.css
  src/components/heading/heading.css
  src/components/project/project.css
  src/components/project/project.jsx
  src/data/projects.js
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update project detail information
  src/assets/images/icon_open.svg
  src/assets/images/logo.svg
  src/components/heading/heading.css
  src/components/menu/menu.css
  src/components/project/project.css
  src/components/project/project.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit projects and footer
  src/components/footer/footer.css
  src/components/project/project.css
  src/components/project/project.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit cursor component
  src/components/cursor/cursor.jsx
  src/components/layout/main/main.jsx
Due: eslint --cache --fix

Fix some a11y bugs
  src/components/content/content.css
  src/components/footer/footer.jsx
  src/components/form/button/button.jsx
  src/components/project/project.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Add s3 bucket sync task
  .huskyrc
  package.json
Due: prettier --write

Add files to s3 bucket and create cloudfront for access
  src/components/project/project.jsx
  src/data/config.js
Due: eslint --cache --fix

Edit cursor transitions
  src/assets/styles/transition.css
  src/assets/styles/variables.css
  src/components/cursor/cursor.jsx
  src/components/footer/footer.css
  src/components/heading/heading.css
  src/components/layout/main/main.jsx
  src/components/menu/menu.css
  src/components/project/project.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update bucket to production, Edit bucket path for production and develop
  package.json
  src/data/config.js
Due: eslint --cache --fix, prettier --write

Add css reduced motion
  src/components/aside/aside.css
  src/components/content/content.css
  src/components/cursor/cursor.css
  src/components/footer/footer.css
  src/components/heading/heading.css
  src/components/menu/menu.css
  src/components/project/project.css
Due: stylelint --cache --fix --color --formatter verbose

Add some aria labels and alt attributes, Update button component
  src/components/aside/aside.jsx
  src/components/footer/footer.jsx
  src/components/form/button/button.jsx
  src/components/form/form.jsx
  src/components/heading/heading.jsx
  src/components/menu/menu.jsx
  src/components/modal/modal.jsx
  src/components/project/project.jsx
Due: eslint --cache --fix

Add some focus states and tabindexes
  src/components/aside/aside.css
  src/components/aside/aside.jsx
  src/components/footer/footer.css
  src/components/footer/footer.jsx
  src/components/heading/heading.css
  src/components/menu/menu.css
  src/components/menu/menu.jsx
  src/components/project/project.css
  src/components/project/project.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Remove pageProps (not necessary)
  src/pages/_app.jsx
  src/pages/_error.jsx
Due: eslint --cache --fix

Install react helmet
  package.json
  yarn.lock
Due: prettier --write

Add temporary pages description, Make some optimizations
  next.config.js
  src/assets/images/icon_open.svg
  src/components/layout/main/main.jsx
  src/data/pages.js
Due: eslint --cache --fix

Upgrade nextjs, Remove unnecessary react-helmet
  package.json
  src/components/layout/main/main.jsx
  src/pages/_document.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

Edit now config
  now.json
Due: prettier --write

Add projects control under text content
  src/components/project/project.css
  src/components/project/project.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit projects controls focus outline
  src/components/project/project.css
Due: stylelint --cache --fix --color --formatter verbose

Remove packages audit from github actions
  .github/workflows/security.yml
Due: prettier --write

Add regex helper tests
  src/helpers/regex.spec.js
Due: eslint --cache --fix

Update aside links, Update aside test
  src/components/aside/aside.jsx
  src/components/aside/aside.spec.js
Due: eslint --cache --fix

Add aside component snapshot
  src/components/aside/__snapshots__/aside.spec.js.snap
  src/components/aside/aside.spec.js
Due: eslint --cache --fix

Update content component test, Add content component snapshot
  src/components/aside/aside.spec.js
  src/components/content/__snapshots__/content.spec.js.snap
  src/components/content/content.spec.js
Due: eslint --cache --fix

Change useLayoutEffect in aside component
  src/components/aside/aside.jsx
Due: eslint --cache --fix

Optimize footer (separate keys)
  src/components/footer/footer.css
  src/components/footer/footer.jsx
  src/components/footer/keys/index.jsx
  src/components/footer/keys/keyDown/index.jsx
  src/components/footer/keys/keyDown/keyDown.css
  src/components/footer/keys/keyDown/keyDown.jsx
  src/components/footer/keys/keyDown/keyDown.spec.js
  src/components/footer/keys/keyUp/index.jsx
  src/components/footer/keys/keyUp/keyUp.css
  src/components/footer/keys/keyUp/keyUp.jsx
  src/components/footer/keys/keyUp/keyUp.spec.js
  src/components/footer/keys/keys.container.js
  src/components/footer/keys/keys.css
  src/components/footer/keys/keys.jsx
  src/components/footer/keys/keys.spec.js
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Create anchor component
  src/components/anchor/anchor.css
  src/components/anchor/anchor.jsx
  src/components/anchor/anchor.spec.js
  src/components/anchor/index.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose
