Repository ZdenekD/zdenekd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

.lintstagedrc:

{
    "*.{js,jsx}": [
      "eslint --cache --fix"
    ],
    "*.css": [
      "stylelint --cache --fix --color --formatter verbose"
    ],
    "*.{json,md,yml,html}": [
      "prettier --write"
    ]
}

Edit README
  README.md
Due: prettier --write

Edit now ignore
  .nowignore
Due: none

Edit now config file
  now.json
Due: prettier --write

Update now ignore
  .nowignore
Due: none

Update nextjs, Install babel plugin for svg
  .babelrc
  package.json
  yarn.lock
Due: prettier --write

Add logo
  src/assets/images/logo.svg
Due: none

Prepare heading and navigation
  src/assets/styles/helpers.css
  src/assets/styles/variables.css
  src/components/heading/heading.css
  src/components/heading/heading.jsx
  src/components/layout/header/header.css
  src/components/layout/header/header.jsx
  src/components/layout/main/main.css
  src/components/layout/main/main.jsx
  src/components/layout/main/main.spec.js
  src/components/navigation/index.jsx
  src/components/navigation/navigation.css
  src/components/navigation/navigation.jsx
  src/components/navigation/navigation.spec.js
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Add pages
  src/data/pages.js
  src/pages/about.jsx
  src/pages/about.spec.jsx
  src/pages/contact.jsx
  src/pages/contact.spec.jsx
  src/pages/index.css
  src/pages/index.jsx
  src/pages/index.spec.jsx
  src/pages/projects.jsx
  src/pages/projects.spec.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit aside (add navigation component)
  src/components/layout/aside/aside.css
  src/components/layout/aside/aside.jsx
  src/components/layout/content/content.spec.js
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Fix test files extensions
  src/pages/about.spec.js
  src/pages/contact.spec.js
  src/pages/index.spec.js
  src/pages/projects.spec.js
Due: eslint --cache --fix

Add dynamic import for aside, Remove max width for content section
  src/components/layout/main/main.css
  src/components/layout/main/main.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Rename test folder due to convention, Update ignore config files
  .eslintignore
  .gitignore
  .nowignore
  .prettierignore
  .stylelintignore
  __test__/transform/css.js
  __test__/transform/file.js
  __test__/utils/helpers.js
  __test__/utils/setup.js
  jest.config.js
Due: eslint --cache --fix

Update test path
  src/components/heading/heading.spec.js
  src/components/layout/aside/aside.spec.js
  src/components/layout/content/content.spec.js
  src/components/layout/header/header.spec.js
  src/components/layout/main/main.spec.js
  src/components/navigation/navigation.spec.js
  src/pages/about.spec.js
  src/pages/contact.spec.js
  src/pages/index.spec.js
  src/pages/projects.spec.js
Due: eslint --cache --fix

Move pages tests to separate folder because of error in build
  src/__test__/about.spec.js
  src/__test__/contact.spec.js
  src/__test__/index.spec.js
  src/__test__/projects.spec.js
Due: eslint --cache --fix

Temporary styles for master branch
  src/components/heading/heading.css
  src/components/layout/header/header.css
  src/components/layout/main/main.jsx
  src/pages/index.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Add package for svg
  .babelrc
  jest.config.js
  next.config.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Move components, Add error page
  src/__test__/about.spec.js
  src/__test__/contact.spec.js
  src/__test__/index.spec.js
  src/__test__/projects.spec.js
  src/__test__/utils/helpers.js
  src/__test__/utils/setup.js
  src/assets/images/logo.svg
  src/components/aside/aside.css
  src/components/aside/aside.jsx
  src/components/aside/aside.spec.js
  src/components/aside/index.jsx
  src/components/content/content.css
  src/components/content/content.jsx
  src/components/content/content.spec.js
  src/components/content/index.jsx
  src/components/header/header.css
  src/components/header/header.jsx
  src/components/header/header.spec.js
  src/components/header/index.jsx
  src/components/heading/heading.css
  src/components/heading/heading.jsx
  src/components/heading/heading.spec.js
  src/components/layout/header/header.jsx
  src/components/layout/main/main.jsx
  src/components/layout/main/main.spec.js
  src/components/navigation/navigation.jsx
  src/components/navigation/navigation.spec.js
  src/data/pages.js
  src/pages/_error.jsx
  src/pages/about.jsx
  src/pages/contact.jsx
  src/pages/index.css
  src/pages/index.jsx
  src/pages/projects.jsx
  src/styles/helpers.css
  src/styles/normalize.css
  src/styles/reset.css
  src/styles/variables.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Move test utils under src folder
  __test__/utils/helpers.js
  __test__/utils/setup.js
Due: eslint --cache --fix

Prepare some default template, Add error page, Add appropriate tests
  src/assets/images/logo.svg
  src/assets/styles/helpers.css
  src/assets/styles/normalize.css
  src/assets/styles/reset.css
  src/assets/styles/variables.css
  src/components/heading/heading.css
  src/components/heading/heading.jsx
  src/components/heading/heading.spec.js
  src/components/layout/aside/aside.css
  src/components/layout/aside/aside.jsx
  src/components/layout/aside/aside.spec.js
  src/components/layout/aside/index.jsx
  src/components/layout/content/content.css
  src/components/layout/content/content.jsx
  src/components/layout/content/content.spec.js
  src/components/layout/content/index.jsx
  src/components/layout/header/header.css
  src/components/layout/header/header.jsx
  src/components/layout/header/header.spec.js
  src/components/layout/header/index.jsx
  src/components/layout/main/main.jsx
  src/components/layout/main/main.spec.js
  src/components/navigation/navigation.spec.js
  src/helpers/getPage.js
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Fix image in public folder because of zeit.co
  src/components/heading/heading.jsx
Due: eslint --cache --fix

Fix logo svg file (remove unused attributes)
  src/assets/images/logo.svg
Due: none

Start preparing menu
  src/components/aside/aside.css
  src/components/header/header.jsx
  src/components/header/header.spec.js
  src/components/heading/heading.css
  src/components/menu/index.jsx
  src/components/menu/menu.css
  src/components/menu/menu.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Github actions
  .github/workflows/workflow.yml
Due: prettier --write

Edit test tasks
  package.json
Due: prettier --write

Edit js test github action, Add security check github action
  .github/workflows/jest.yml
  .github/workflows/security.yml
Due: prettier --write

Edit github actions
  .github/workflows/jest.yml
  .github/workflows/security.yml
Due: prettier --write

Edit security actions
  .github/workflows/security.yml
Due: prettier --write

Edit security action
  .github/workflows/security.yml
Due: prettier --write
