Repository ZdenekD/zdenekd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

Upgrade packages
  yarn.lock
Due: none

Edit project
  src/components/project/project.tsx
Due: eslint --cache --fix

Move test config files under root test folder
  .storybook/main.js
  __test__/jest/mockServer.ts
  __test__/jest/mockSetup.ts
  __test__/jest/setup.ts
  __test__/jest/transform/file.js
  __test__/jest/transform/svg.js
  __test__/jest/utils/helpers.tsx
  jest.config.js
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Upgrades and sync
  .env.sample
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  README.md
  package.json
  public/mockServiceWorker.js
  src/pages/_app.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

Remove unused file
  __test__/mockServiceWorker.js
Due: eslint --cache --fix

Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

Update component types
  src/components/UI/alert/alert.tsx
  src/components/UI/anchor/anchor.tsx
  src/components/UI/form-control/button/button.tsx
  src/components/UI/form-control/form/form.tsx
  src/components/device/computer/computer.tsx
  src/components/device/mobile/mobile.tsx
  src/components/device/tablet/tablet.tsx
  src/components/layout/heading/heading.tsx
  src/components/layout/layout.tsx
  src/components/layout/section/section.tsx
  src/store/animation/index.tsx
  src/store/cursor/index.tsx
  src/store/menu/index.tsx
  src/store/message/index.tsx
  src/store/project/index.tsx
  src/store/utils/combineProviders.tsx
  src/store/utils/provider.tsx
Due: eslint --cache --fix

Fix react types to v17 because of some errors
  package.json
  yarn.lock
Due: prettier --write

Sync config files
  .babelrc
  .eslintrc
  .storybook/main.js
  README.md
  jest.config.js
  next-add.d.ts
  public/mockServiceWorker.js
  tsconfig.json
  tsconfig.test.json
Due: eslint --cache --fix, prettier --write

Update and sync test config files
  __test__/jest/mockSetup.ts
  __test__/jest/mocks/nextImageMock.tsx
  __test__/jest/mocks/nextLinkMock.tsx
  __test__/jest/mocks/nextRouterMock.ts
  __test__/jest/mocks/reactReduxMock.ts
  __test__/jest/mocks/requestAnimationFrame.ts
  __test__/jest/setup.ts
  __test__/jest/utils/helpers.tsx
  src/utils/config.ts
  src/utils/mocks/__test__/requestAnimationFrame.ts
  src/utils/mocks/handlers/handler.ts
Due: eslint --cache --fix

Sync config files
  .env.sample
  README.md
  jest.config.js
  next-add.d.ts
  package.json
  vercel.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Add mocks data
  src/utils/mocks/data/content/UI/paragraph.tsx
  src/utils/mocks/data/index.ts
Due: eslint --cache --fix

Change underscore to lodash
  package.json
  yarn.lock
Due: prettier --write

Edit hooks
  src/utils/hooks/useKeyboard.ts
  src/utils/hooks/usePageAction.ts
  src/utils/hooks/useProjectAction.ts
  src/utils/hooks/useSwipe.ts
  src/utils/hooks/useWheel.ts
  src/utils/hooks/useWindowSize.ts
Due: eslint --cache --fix

Update and sync locales
  __test__/jest/mocks/nextRouterMock.ts
  src/data/locales.tsx
  src/data/locales/cs.tsx
  src/data/locales/en.tsx
  src/data/locales/index.ts
  src/data/locales/types/index.ts
  src/utils/hooks/useLocale.ts
Due: eslint --cache --fix

Edit package json
  package.json
Due: prettier --write

Update and sync config files
  .env.sample
  .eslintrc
  .storybook/index.css
  .storybook/main.js
  .storybook/preview.js
  .stylelintrc
  __test__/jest/transform/file.js
  __test__/jest/transform/svg.js
  jest.config.js
  next.config.js
  postcss.config.js
  public/mockServiceWorker.js
  tsconfig.json
  vercel.json
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

Update and sync assets styles
  .storybook/index.css
  src/assets/styles/base/html.css
  src/assets/styles/base/reset.css
  src/assets/styles/index.css
  src/assets/styles/utilities/helpers.css
  src/assets/styles/variables/base/easing.css
  src/assets/styles/variables/base/media.css
  src/assets/styles/variables/custom/colors.css
  src/assets/styles/variables/custom/fonts.css
  src/assets/styles/variables/custom/global.css
  src/assets/styles/variables/custom/grid.css
  src/assets/styles/variables/custom/z-index.css
Due: stylelint --cache --fix --color --formatter verbose

Update alert component
  src/components/UI/alert/alert.spec.tsx
  src/components/UI/alert/alert.stories.tsx
  src/components/UI/alert/alert.tsx
  src/components/layout/layout.tsx
  src/utils/hooks/useClickOutside.ts
Due: eslint --cache --fix

Sync and update UI components
  src/components/UI/anchor/anchor.tsx
  src/components/UI/anchor/index.tsx
  src/components/UI/form-control/button/button.tsx
  src/components/UI/form-control/button/index.tsx
  src/components/UI/form-control/form/form.tsx
  src/components/UI/form-control/form/index.tsx
  src/components/UI/form-control/input/index.tsx
  src/components/UI/form-control/input/input.spec.tsx
  src/components/UI/form-control/input/input.stories.tsx
  src/components/UI/form-control/input/input.tsx
  src/components/UI/form-control/textarea/index.tsx
  src/components/UI/form-control/textarea/textarea.spec.tsx
  src/components/UI/form-control/textarea/textarea.stories.tsx
  src/components/UI/form-control/textarea/textarea.tsx
  src/components/project/browser/target/target.spec.tsx
  src/components/project/browser/target/target.tsx
Due: eslint --cache --fix

Remove nonactual reference
  public/image/mobile_portfolium.png
  public/video/portfolium.mp4
  src/assets/styles/index.css
  src/data/projects.ts
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit reference target link
  src/components/UI/anchor/anchor.tsx
  src/components/project/browser/target/target.module.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update snyk
  .snyk
Due: none

Sync and update storybook
  .env.sample
  .storybook/main.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Upgrade packages, Install playwright instead of cypress
  package.json
  yarn.lock
Due: prettier --write

Sync config files
  .browserslistrc
  .env.sample
  .eslintignore
  .eslintrc
  .gitignore
  .prettierignore
  .storybook/main.js
  .stylelintignore
  README.md
  jest.config.js
  jsconfig.json
  next.config.js
  vercel.json
Due: eslint --cache --fix, prettier --write

Add playwright config files and simple tests
  .github/workflows/playwright.yml
  __test__/playwright/integration/contact.spec.ts
  __test__/playwright/integration/index.spec.ts
  playwright.config.ts
Due: eslint --cache --fix, prettier --write

Remove hint, Sync jest config files and mocks
  .hintrc
  __test__/jest/mockSetup.ts
  __test__/jest/mocks/nextAuthMock.tsx
  __test__/jest/resolver.ts
  __test__/jest/transform/file.js
  __test__/jest/transform/svg.js
Due: eslint --cache --fix

Move meta to document and app, Move favicon files under favicons folder
  public/favicons/android-icon-144x144.png
  public/favicons/android-icon-192x192.png
  public/favicons/android-icon-36x36.png
  public/favicons/android-icon-48x48.png
  public/favicons/android-icon-72x72.png
  public/favicons/android-icon-96x96.png
  public/favicons/apple-icon-114x114.png
  public/favicons/apple-icon-120x120.png
  public/favicons/apple-icon-144x144.png
  public/favicons/apple-icon-152x152.png
  public/favicons/apple-icon-180x180.png
  public/favicons/apple-icon-57x57.png
  public/favicons/apple-icon-60x60.png
  public/favicons/apple-icon-72x72.png
  public/favicons/apple-icon-76x76.png
  public/favicons/apple-icon-precomposed.png
  public/favicons/apple-icon.png
  public/favicons/browserconfig.xml
  public/favicons/favicon-16x16.png
  public/favicons/favicon-32x32.png
  public/favicons/favicon-96x96.png
  public/favicons/favicon.ico
  public/favicons/favicon.png
  public/favicons/favicon.svg
  public/favicons/manifest.json
  public/favicons/ms-icon-144x144.png
  public/favicons/ms-icon-150x150.png
  public/favicons/ms-icon-310x310.png
  public/favicons/ms-icon-70x70.png
  public/mockServiceWorker.js
  src/components/UI/anchor/anchor.spec.tsx
  src/components/layout/layout.tsx
  src/components/layout/meta/index.tsx
  src/components/layout/meta/meta.tsx
  src/components/pages/notfound/notfound.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
Due: eslint --cache --fix, prettier --write

Edit sitemap
  public/sitemap.xml
  src/pages/sitemap.xml.ts
Due: eslint --cache --fix

Update projects logo, Add new reference
  public/image/mobile_jf-woodpall.png
  public/image/mobile_stenclova.png
  public/image/mobile_tomton-interior.png
  public/image/mobile_tomton.png
  public/logo_nextjs.svg
  public/logo_vercel.svg
  public/video/jf-woodpall.mp4
  src/data/projects.ts
Due: eslint --cache --fix

Install zustand and swr for store and fetch update
  package.json
  yarn.lock
Due: prettier --write

Update api methods
  src/api/delete.ts
  src/api/get.ts
  src/api/options.ts
  src/api/patch.ts
  src/api/post.ts
  src/api/put.ts
  src/api/send.ts
  src/api/types/IApi.ts
  src/api/types/index.ts
  src/api/utils/methods.spec.ts
  src/api/utils/methods.ts
Due: eslint --cache --fix

Sync and add some useful hooks
  src/utils/hooks/handlers/useDelete.ts
  src/utils/hooks/handlers/useGet.ts
  src/utils/hooks/handlers/usePost.ts
  src/utils/hooks/handlers/useUpdate.ts
  src/utils/hooks/useCursor.ts
  src/utils/hooks/useDebouncedValue.ts
  src/utils/hooks/useFetch.ts
  src/utils/hooks/useFullscreen.ts
  src/utils/hooks/useProjectAction.ts
  src/utils/hooks/useWindowSize.ts
Due: eslint --cache --fix

Sync and update utils
  src/utils/distributors/APIDistributor.ts
  src/utils/helpers/getUrl.spec.ts
  src/utils/helpers/getUrl.ts
  src/utils/helpers/handleHookData.ts
  src/utils/helpers/handleResponseStatus.spec.ts
  src/utils/helpers/handleResponseStatus.ts
  src/utils/helpers/isSuccessfulResponse.spec.ts
  src/utils/helpers/isSuccessfulResponse.ts
  src/utils/helpers/isTestEnv.ts
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --cache --fix --color --formatter verbose: any of: *.css
  prettier --write: any of: *.{json,md,yml,html}
