Repository ZdenekD/zdenekd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

Edit security action
  .github/workflows/security.yml
Due: prettier --write

Change snyk task
  package.json
Due: prettier --write

Add badges to README
  README.md
Due: prettier --write

Edit github actions, Remove tasks from package json
  .github/workflows/jest.yml
  .github/workflows/security.yml
  package.json
Due: prettier --write

Upgrade packages, Add post commit hook (generate coverage)
  package.json
  yarn.lock
Due: prettier --write

Edit coverage task
  package.json
Due: prettier --write

Edit README
  README.md
Due: prettier --write

Remove post commit task (errors in gitkraken)
  package.json
Due: prettier --write

Add react version to eslint config, Create husky config file
  .eslintrc
  .huskyrc
  package.json
Due: prettier --write

Remove unused files
  src/assets/styles/helpers.css
  src/assets/styles/normalize.css
  src/assets/styles/reset.css
  src/assets/styles/variables.css
  src/components/layout/aside/aside.css
  src/components/layout/aside/aside.jsx
  src/components/layout/aside/aside.spec.js
  src/components/layout/aside/index.jsx
  src/components/layout/content/content.css
  src/components/layout/content/content.jsx
  src/components/layout/content/content.spec.js
  src/components/layout/content/index.jsx
  src/components/layout/header/header.css
  src/components/layout/header/header.jsx
  src/components/layout/header/header.spec.js
  src/components/layout/header/index.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Start preparing aside navigation component
  src/__test__/utils/helpers.js
  src/components/aside/aside.css
  src/components/aside/aside.jsx
  src/components/header/header.css
  src/components/header/header.jsx
  src/components/header/header.spec.js
  src/components/heading/heading.css
  src/components/heading/heading.jsx
  src/components/layout/main/main.css
  src/components/layout/main/main.jsx
  src/components/menu/menu.css
  src/components/menu/menu.jsx
  src/components/menu/menu.spec.js
  src/components/navigation/navigation.css
  src/components/navigation/navigation.jsx
  src/images/logo.svg
  src/pages/index.css
  src/styles/easing.css
  src/styles/variables.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Prepare base navigation and menu animations
  src/components/aside/aside.css
  src/components/aside/aside.jsx
  src/components/aside/aside.spec.js
  src/components/heading/heading.css
  src/components/layout/main/main.jsx
  src/components/menu/menu.css
  src/components/navigation/navigation.css
  src/components/navigation/navigation.jsx
  src/pages/index.css
  src/styles/transition.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Make small updates
  src/components/header/header.css
  src/components/layout/main/main.css
  src/components/layout/main/main.jsx
  src/components/menu/menu.css
  src/components/menu/menu.jsx
  src/components/navigation/navigation.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Install cypress
  package.json
  yarn.lock
Due: prettier --write

Add favicon image, Typo, Remove unused
  __test__/utils/helpers.js
  __test__/utils/setup.js
  src/__test__/about.spec.js
  src/__test__/contact.spec.js
  src/__test__/index.spec.js
  src/__test__/projects.spec.js
  src/components/aside/aside.spec.js
  src/components/content/content.spec.js
  src/components/header/header.spec.js
  src/components/heading/heading.spec.js
  src/components/layout/main/main.spec.js
  src/components/menu/menu.spec.js
  src/components/navigation/navigation.spec.js
  src/images/favicon.png
  src/images/favicon.svg
Due: eslint --cache --fix

Install redux and other important packages
  package.json
  yarn.lock
Due: prettier --write

Move menu toggle state to redux
  src/components/header/header.jsx
  src/components/layout/main/index.jsx
  src/components/layout/main/main.container.js
  src/components/layout/main/main.jsx
  src/components/menu/index.jsx
  src/components/menu/menu.container.js
  src/components/menu/menu.jsx
  src/pages/_app.jsx
  src/store/index.js
  src/store/menu/actions.js
  src/store/menu/reducer.js
  src/store/reducer.js
Due: eslint --cache --fix

Move images and styles under assets folder
  src/assets/images/favicon.png
  src/assets/images/favicon.svg
  src/assets/images/logo.svg
  src/assets/styles/easing.css
  src/assets/styles/helpers.css
  src/assets/styles/normalize.css
  src/assets/styles/reset.css
  src/assets/styles/transition.css
  src/assets/styles/variables.css
  src/components/heading/heading.jsx
  src/pages/index.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Remove unused check prop types
  package.json
  yarn.lock
Due: prettier --write

Update redux (fix tests, add devtools)
  src/__test__/utils/helpers.js
  src/components/header/header.spec.js
  src/components/layout/main/main.container.js
  src/components/layout/main/main.jsx
  src/components/layout/main/main.spec.js
  src/components/menu/menu.container.js
  src/components/menu/menu.jsx
  src/components/menu/menu.spec.js
  src/store/index.js
Due: eslint --cache --fix

Install animejs and redux logger
  package.json
  yarn.lock
Due: prettier --write

Add redux logger to store
  src/store/index.js
Due: eslint --cache --fix

Rename menu action and reducer content
  src/store/menu/actions.js
  src/store/menu/reducer.js
Due: eslint --cache --fix

Change aside animation to animejs
  src/components/aside/aside.container.js
  src/components/aside/aside.css
  src/components/aside/aside.jsx
  src/components/aside/aside.spec.js
  src/components/aside/index.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update navigation animation (use animejs)
  src/components/navigation/index.jsx
  src/components/navigation/navigation.container.js
  src/components/navigation/navigation.css
  src/components/navigation/navigation.jsx
  src/components/navigation/navigation.spec.js
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Remove global classname (active-menu), resolve on each component
  src/components/heading/heading.container.js
  src/components/heading/heading.css
  src/components/heading/heading.jsx
  src/components/heading/heading.spec.js
  src/components/heading/index.jsx
  src/components/layout/main/index.jsx
  src/components/layout/main/main.jsx
  src/components/layout/main/main.spec.js
  src/components/menu/menu.css
  src/components/menu/menu.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Handle disabled state during menu animation
  src/components/aside/aside.container.js
  src/components/aside/aside.jsx
  src/components/heading/heading.css
  src/components/heading/heading.jsx
  src/components/heading/heading.spec.js
  src/components/menu/menu.container.js
  src/components/menu/menu.css
  src/components/menu/menu.jsx
  src/components/menu/menu.spec.js
  src/components/navigation/navigation.container.js
  src/components/navigation/navigation.css
  src/components/navigation/navigation.jsx
  src/components/navigation/navigation.spec.js
  src/store/menu/actions.js
  src/store/menu/reducer.js
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Add pointer events to disabled states
  src/components/heading/heading.css
  src/components/menu/menu.css
Due: stylelint --cache --fix --color --formatter verbose

Handle navigation
  src/components/aside/aside.container.js
  src/components/aside/aside.css
  src/components/aside/aside.jsx
  src/components/aside/aside.spec.js
  src/components/heading/heading.spec.js
  src/components/layout/main/main.spec.js
  src/components/navigation/index.jsx
  src/components/navigation/navigation.container.js
  src/components/navigation/navigation.css
  src/components/navigation/navigation.jsx
  src/components/navigation/navigation.spec.js
  src/data/pages.js
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit aside animation
  src/components/aside/aside.jsx
Due: eslint --cache --fix

Return back link to homepage
  src/components/heading/heading.spec.js
  src/components/layout/main/main.spec.js
  src/data/pages.js
Due: eslint --cache --fix

Play with header colors
  src/components/heading/heading.css
  src/components/heading/heading.jsx
  src/components/layout/main/main.css
  src/components/menu/menu.css
  src/components/menu/menu.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Add animation between pages
  src/assets/styles/transition.css
  src/components/heading/heading.jsx
  src/components/layout/main/main.css
  src/components/layout/main/main.jsx
  src/components/layout/main/main.spec.js
  src/pages/_app.css
  src/pages/_app.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Config file for vscode
  jsconfig.json
Due: prettier --write

Update animations going through pages
  src/components/aside/aside.css
  src/components/aside/aside.jsx
  src/components/heading/heading.css
  src/components/menu/menu.css
  src/components/menu/menu.jsx
  src/pages/_app.css
  src/pages/_app.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit navigation buttons
  src/components/aside/aside.css
  src/components/aside/aside.jsx
  src/components/aside/aside.spec.js
  src/pages/_app.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Install event listener helper
  package.json
  yarn.lock
Due: prettier --write

Update get page helper, Add controls with keyboard and mouse
  src/components/aside/aside.jsx
  src/components/aside/aside.spec.js
  src/components/heading/heading.jsx
  src/components/heading/heading.spec.js
  src/components/layout/main/index.jsx
  src/components/layout/main/main.container.js
  src/components/layout/main/main.jsx
  src/components/layout/main/main.spec.js
  src/helpers/getPage.js
  src/pages/_app.jsx
  src/pages/about.jsx
  src/pages/contact.jsx
  src/pages/index.jsx
  src/pages/projects.jsx
  src/store/app/actions.js
  src/store/app/reducer.js
  src/store/reducer.js
Due: eslint --cache --fix

Add some simple content to start work with
  src/components/content/content.css
  src/components/content/content.jsx
  src/components/layout/main/main.container.js
  src/components/layout/main/main.jsx
  src/pages/about.jsx
  src/pages/contact.jsx
  src/pages/index.jsx
  src/pages/projects.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update now ignore file
  .nowignore
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx}
  stylelint --cache --fix --color --formatter verbose: any of: *.css
  prettier --write: any of: *.{json,md,yml,html}
