Repository ZdenekD/zdenekd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

Updated states
  src/assets/styles/base/html.css
  src/assets/styles/variables/base/box.css
  src/assets/styles/variables/base/typography.css
  src/components/UI/alert/alert.tsx
  src/components/aside/aside.tsx
  src/components/cursor/cursor.tsx
  src/components/form/contact/contact.tsx
  src/components/keys/keys.tsx
  src/components/layout/footer/footer.tsx
  src/components/layout/header/header.tsx
  src/components/layout/layout.tsx
  src/components/logo/logo.tsx
  src/components/menu/menu.tsx
  src/components/nav/nav.tsx
  src/components/project/project.tsx
  src/data/locales/cs.tsx
  src/data/locales/en.tsx
  src/data/locales/types/index.ts
  src/pages/_app.tsx
  src/pages/api/send.ts
  src/utils/config.ts
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Move logo images under logo folder
  package.json
  public/logo/animejs.svg
  public/logo/framer-motion.svg
  public/logo/graphcms.svg
  public/logo/gulp.svg
  public/logo/jquery.svg
  public/logo/lottie.svg
  public/logo/nextjs.svg
  public/logo/octobercms.svg
  public/logo/postcss.svg
  public/logo/react.svg
  public/logo/sass.svg
  public/logo/typescript.svg
  public/logo/vanillajs.svg
  public/logo/vercel.svg
  public/logo/webpack.svg
  public/logo/wordpress.svg
  src/components/project/tools/tools.module.css
  src/components/project/tools/tools.tsx
  yarn.lock
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

Small edits
  .storybook/preview.js
  src/components/UI/alert/alert.tsx
  src/components/UI/form-control/button/button.tsx
  src/data/locales/cs.tsx
  src/data/locales/en.tsx
  src/data/locales/types/index.ts
Due: eslint --cache --fix

Upgrade packages
  yarn.lock
Due: none

Edit hooks
  src/api/delete.ts
  src/api/get.ts
  src/api/patch.ts
  src/api/post.ts
  src/api/put.ts
  src/api/types/index.ts
  src/api/utils/methods.spec.ts
  src/api/utils/methods.ts
  src/components/UI/alert/alert.tsx
  src/components/form/contact/contact.tsx
  src/components/layout/layout.tsx
  src/data/locales/en.tsx
  src/utils/distributors/APIDistributor.ts
  src/utils/distributors/api.ts
  src/utils/helpers/getResponseVariant.ts
  src/utils/helpers/getStatusVariant.spec.ts
  src/utils/helpers/getUrl.spec.ts
  src/utils/helpers/getUrl.ts
  src/utils/helpers/handleHookData.ts
  src/utils/helpers/isSuccessfulResponse.spec.ts
  src/utils/helpers/isSuccessfulResponse.ts
  src/utils/helpers/isTestEnv.ts
  src/utils/hooks/handlers/useDelete.ts
  src/utils/hooks/handlers/useGet.ts
  src/utils/hooks/handlers/usePost.ts
  src/utils/hooks/handlers/useUpdate.ts
  src/utils/hooks/useFetch.ts
  src/utils/hooks/useFullscreen.ts
  src/utils/mocks/data/content/UI/paragraph.tsx
Due: eslint --cache --fix

Typo
  src/utils/helpers/getResponseVariant.spec.ts
Due: eslint --cache --fix

Edit locales
  src/data/locales/cs.tsx
  src/data/locales/en.tsx
  src/data/locales/types/index.ts
Due: eslint --cache --fix

Edit README
  README.md
Due: prettier --write

Typo
  .storybook/preview.js
Due: eslint --cache --fix

Upgrade packages, Update node version
  .nvmrc
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

Update github actions, Sync some config files, Fix contact form types
  .babelrc
  .github/workflows/chromatic.yml
  .github/workflows/gitguardian.yml
  .github/workflows/jest.yml
  .github/workflows/playwright.yml
  .github/workflows/snyk.yml
  .storybook/main.js
  CHECKLIST.md
  next-add.d.ts
  next.config.js
  src/components/form/contact/contact.tsx
  src/pages/_document.tsx
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Edit snyk
  .snyk
Due: none

Upgrade packages, Edit script tasks
  package.json
  yarn.lock
Due: prettier --write

Sync some config files, Move api under utils, Edit api handler hooks
  .eslintrc
  .gitignore
  .storybook/main.js
  README.md
  jest.config.js
  next.config.js
  playwright.config.ts
  src/components/form/contact/contact.tsx
  src/utils/api/delete.ts
  src/utils/api/get.ts
  src/utils/api/graph.ts
  src/utils/api/patch.ts
  src/utils/api/post.ts
  src/utils/api/put.ts
  src/utils/api/types/index.ts
  src/utils/api/utils/methods.spec.ts
  src/utils/api/utils/methods.ts
  src/utils/hooks/api/useDelete.ts
  src/utils/hooks/api/useFetch.ts
  src/utils/hooks/api/useGet.ts
  src/utils/hooks/api/usePost.ts
  src/utils/hooks/api/usePut.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Sync config files
  .gitignore
  .prettierignore
  .storybook/main.js
  .stylelintrc
  jest.config.js
  package.json
  postcss.config.js
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Edit utils api paths
  src/utils/api/delete.ts
  src/utils/api/get.ts
  src/utils/api/graph.ts
  src/utils/api/post.ts
  src/utils/api/put.ts
Due: eslint --cache --fix

Update css custom media, Update reset
  src/assets/styles/base/html.css
  src/assets/styles/base/reset.css
  src/assets/styles/variables/base/media.css
  src/components/UI/form-control/input/input.module.css
  src/components/UI/form-control/textarea/textarea.module.css
  src/components/UI/loader/loader.module.css
  src/components/keys/keys.module.css
  src/components/layout/footer/footer.module.css
  src/components/layout/header/header.module.css
  src/components/layout/heading/heading.module.css
  src/components/layout/layout.module.css
  src/components/layout/section/section.module.css
  src/components/logo/logo.module.css
  src/components/menu/menu.module.css
  src/components/nav/nav.module.css
  src/components/pages/homepage/homepage.module.css
  src/components/project/browser/addressbar/addressbar.module.css
  src/components/project/browser/browser.module.css
  src/components/project/browser/video/video.module.css
  src/components/project/controls/controls.module.css
  src/components/project/project.module.css
Due: stylelint --cache --fix --color --formatter verbose

Remove useless code in html style
  src/assets/styles/base/html.css
Due: stylelint --cache --fix --color --formatter verbose

Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

Sync config files
  .babelrc
  .eslintrc
  .gitignore
  .prettierrc
  .storybook/main.js
  .storybook/preview.js
  __test__/jest/transform/file.js
  __test__/jest/transform/svg.js
  jest.config.js
  public/mockServiceWorker.js
Due: eslint --cache --fix

Edit stories
  src/components/UI/alert/alert.stories.tsx
  src/components/UI/anchor/anchor.stories.tsx
  src/components/UI/form-control/button/button.stories.tsx
  src/components/UI/form-control/input/input.stories.tsx
  src/components/UI/form-control/textarea/textarea.stories.tsx
  src/components/UI/icon/icon.stories.tsx
  src/components/UI/loader/loader.stories.tsx
  src/components/device/computer/computer.stories.tsx
  src/components/device/mobile/mobile.stories.tsx
  src/components/device/tablet/tablet.stories.tsx
  src/components/form/contact/contact.stories.tsx
  src/components/keys/key/key.stories.tsx
  src/components/keys/keys.stories.tsx
  src/components/layout/footer/footer.stories.tsx
  src/components/layout/footer/footer.tsx
  src/components/layout/header/header.stories.tsx
  src/components/layout/heading/heading.stories.tsx
  src/components/layout/layout.stories.tsx
  src/components/layout/section/section.stories.tsx
  src/components/logo/logo.stories.tsx
  src/components/menu/menu.stories.tsx
  src/components/pages/contact/contact.stories.tsx
  src/components/pages/error/error.stories.tsx
  src/components/pages/homepage/homepage.stories.tsx
  src/components/pages/notfound/notfound.stories.tsx
  src/components/pages/notfound/notfound.tsx
  src/components/pages/projects/projects.stories.tsx
  src/components/project/browser/video/video.tsx
  src/components/project/project.stories.tsx
  src/pages/_app.tsx
Due: eslint --cache --fix

Edit stories
  src/components/UI/alert/alert.stories.tsx
  src/components/layout/layout.stories.tsx
  src/components/pages/homepage/homepage.stories.tsx
  src/components/pages/projects/projects.stories.tsx
Due: eslint --cache --fix

Update stories
  src/components/UI/alert/alert.stories.tsx
  src/components/UI/loader/loader.stories.tsx
  src/components/device/mobile/mobile.stories.tsx
  src/components/form/contact/contact.stories.tsx
  src/components/layout/footer/footer.stories.tsx
  src/components/layout/heading/heading.stories.tsx
  src/components/layout/layout.stories.tsx
  src/components/layout/section/section.stories.tsx
  src/components/pages/contact/contact.stories.tsx
  src/components/pages/error/error.stories.tsx
  src/components/pages/homepage/homepage.stories.tsx
  src/components/pages/notfound/notfound.stories.tsx
  src/components/pages/projects/projects.stories.tsx
  src/components/project/project.stories.tsx
Due: eslint --cache --fix

Rename graphcms to hygraph
  .env.sample
  src/data/projects.ts
  src/utils/api/graph.ts
Due: eslint --cache --fix

Update yarn
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-outdated.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  yarn.lock
Due: prettier --write

Upgrade packages, Edit tasks
  package.json
  yarn.lock
Due: prettier --write

Sync config files
  .babelrc
  .env.sample
  .eslintignore
  .eslintrc
  .github/workflows/chromatic.yml
  .github/workflows/jest.yml
  .github/workflows/playwright.yml
  .github/workflows/snyk.yml
  .gitignore
  .prettierignore
  .storybook/main.js
  .stylelintignore
  .stylelintrc
  .yarn/releases/yarn-3.3.0.cjs
  .yarnrc.yml
  next.config.js
  next.headers.js
  public/mockServiceWorker.js
Due: eslint --cache --fix, prettier --write

Upgrade packages
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

Sync config files
  .eslintrc
  .storybook/main.js
  .storybook/preview.jsx
  __test__/jest/mocks/nextImageMock.tsx
  __test__/jest/transform/svg.js
  jest.config.js
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --cache --fix --color --formatter verbose: any of: *.css
  prettier --write: any of: *.{json,md,yml,html}
