Repository ZdenekD/zdenekd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

Update snyk config
  .snyk
Due: none

Update nextjs to version 12
  package.json
  yarn.lock
Due: prettier --write

Edit config files
  next.config.js
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Remove unused files
  next-css/css-loader-config.js
  next-css/index.js
  src/pages/_document.tsx
Due: eslint --cache --fix

Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

Sync config files
  .babelrc
  .browserslistrc
  .eslintignore
  .eslintrc
  .github/workflows/jest.yml
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .nvmrc
  .prettierignore
  .storybook/main.js
  .stylelintignore
  .stylelintrc
  README.md
  jest.config.js
  next-add.d.ts
  next-env.d.ts
  next.config.js
  svgr.config.js
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Some fixes
  src/__test__/setup.ts
  src/assets/styles/base/reset.css
  src/assets/styles/variables/variables.css
  src/components/UI/alert/alert.module.css
  src/components/UI/alert/alert.spec.tsx
  src/components/UI/alert/alert.stories.tsx
  src/components/UI/form-control/button/button.module.css
  src/components/UI/image/image.stories.tsx
  src/components/UI/loader/loader.stories.tsx
  src/components/form/contact/contact.spec.tsx
  src/components/form/contact/contact.tsx
  src/components/keys/keys.spec.tsx
  src/components/layout/footer/footer.module.css
  src/components/layout/footer/footer.spec.tsx
  src/components/layout/footer/footer.tsx
  src/components/layout/header/header.spec.tsx
  src/components/layout/layout.spec.tsx
  src/components/layout/layout.tsx
  src/components/menu/menu.spec.tsx
  src/components/nav/nav.spec.tsx
  src/components/project/browser/addressbar/addressbar.spec.tsx
  src/components/project/browser/browser.spec.tsx
  src/components/project/browser/browser.tsx
  src/components/project/browser/controls/controls.spec.tsx
  src/components/project/browser/target/target.spec.tsx
  src/components/project/browser/video/video.spec.tsx
  src/components/project/controls/controls.spec.tsx
  src/components/project/project.spec.tsx
  src/components/project/project.tsx
  src/components/project/tools/tools.spec.tsx
  src/utils/mocks/__test__/nextImageMock.tsx
  src/utils/mocks/__test__/nextLinkMock.tsx
  src/utils/mocks/__test__/nextRouterMock.ts
  src/utils/mocks/__test__/reactReduxMock.ts
  src/utils/mocks/__test__/requestAnimationFrame.ts
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Add missing nextjs headers
  next.headers.js
Due: eslint --cache --fix

Update pages because of module styles
  src/components/pages/contact/contact.module.css
  src/components/pages/contact/contact.spec.tsx
  src/components/pages/contact/contact.stories.tsx
  src/components/pages/contact/contact.tsx
  src/components/pages/contact/index.tsx
  src/components/pages/error/error.module.css
  src/components/pages/error/error.spec.tsx
  src/components/pages/error/error.stories.tsx
  src/components/pages/error/error.tsx
  src/components/pages/error/index.tsx
  src/components/pages/homepage/homepage.animations.ts
  src/components/pages/homepage/homepage.module.css
  src/components/pages/homepage/homepage.spec.tsx
  src/components/pages/homepage/homepage.stories.tsx
  src/components/pages/homepage/homepage.tsx
  src/components/pages/homepage/index.tsx
  src/components/pages/notfound/index.tsx
  src/components/pages/notfound/notfound.module.css
  src/components/pages/notfound/notfound.spec.tsx
  src/components/pages/notfound/notfound.stories.tsx
  src/components/pages/notfound/notfound.tsx
  src/components/pages/projects/index.tsx
  src/components/pages/projects/projects.module.css
  src/components/pages/projects/projects.spec.tsx
  src/components/pages/projects/projects.stories.tsx
  src/components/pages/projects/projects.tsx
  src/pages/404.tsx
  src/pages/_error.tsx
  src/pages/contact.tsx
  src/pages/index.tsx
  src/pages/projects.tsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Upgrade packages
  yarn.lock
Due: none

Remove unused images
  public/image/mobile_avprague.avif
  public/image/mobile_avprague.webp
  public/image/mobile_digitalvision.avif
  public/image/mobile_digitalvision.webp
  public/image/mobile_dirtjob.avif
  public/image/mobile_dirtjob.webp
  public/image/mobile_fit-s-marky.avif
  public/image/mobile_fit-s-marky.webp
  public/image/mobile_portfolium.avif
  public/image/mobile_portfolium.webp
  public/image/mobile_stenclova.avif
  public/image/mobile_stenclova.webp
  public/image/mobile_tomton.avif
  public/image/mobile_tomton.webp
Due: none

Refactoring and components clearing
  src/components/aside/aside.spec.tsx
  src/components/aside/aside.tsx
  src/components/cursor/cursor.tsx
  src/components/form/contact/contact.tsx
  src/components/form/contact/contact.validation.ts
  src/components/keys/keys.stories.tsx
  src/components/keys/keys.tsx
  src/components/layout/footer/footer.tsx
  src/components/layout/footer/lang/lang.tsx
  src/components/layout/header/header.tsx
  src/components/layout/heading/heading.module.css
  src/components/layout/heading/heading.spec.tsx
  src/components/layout/heading/heading.stories.tsx
  src/components/layout/heading/heading.tsx
  src/components/layout/heading/index.tsx
  src/components/layout/layout.tsx
  src/components/layout/meta/index.tsx
  src/components/layout/meta/meta.tsx
  src/components/logo/logo.module.css
  src/components/nav/nav.tsx
  src/components/pages/contact/contact.tsx
  src/components/pages/error/error.tsx
  src/components/pages/homepage/homepage.tsx
  src/components/pages/notfound/notfound.tsx
  src/components/pages/projects/projects.tsx
  src/components/project/browser/browser.module.css
  src/components/project/browser/browser.spec.tsx
  src/components/project/browser/browser.tsx
  src/components/project/browser/video/video.spec.tsx
  src/components/project/browser/video/video.tsx
  src/data/locales.tsx
  src/data/pages.tsx
  src/data/projects.ts
  src/types/locales.ts
  src/types/pages.ts
  src/types/projects.ts
  src/utils/helpers/getPage.ts
  src/utils/helpers/getPageIndex.ts
  src/utils/hooks/useLocale.ts
  src/utils/hooks/usePageAction.ts
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Add missing title
  src/components/pages/contact/contact.tsx
  src/components/pages/homepage/homepage.tsx
  src/components/pages/projects/projects.tsx
Due: eslint --cache --fix

Add chromatic github actions
  .github/workflows/chromatic.yml
Due: prettier --write

Edit chromatic github actions Edit chromatic github actions Edit chromatic github actions Edit chromatic github actions
  .github/workflows/chromatic.yml
Due: prettier --write

Update app
  src/pages/_app.tsx
Due: eslint --cache --fix

Remove unused meta
  src/components/layout/meta/meta.tsx
Due: eslint --cache --fix

Add temporary workaround for styles and page transitions with framer
  src/pages/_app.tsx
Due: eslint --cache --fix

Add mock service worker
  .storybook/preview.js
  __test__/mockServiceWorker.js
  jest.config.js
  src/__test__/mockServer.ts
  src/__test__/mockSetup.ts
  src/utils/mocks/handlers/handler.ts
  src/utils/mocks/handlers/index.ts
  yarn.lock
Due: eslint --cache --fix

Remove unused vercel ignore file, Edit README
  .vercelignore
  README.md
  package.json
Due: prettier --write

Update stories and add chromatic delay property
  src/components/UI/image/image.stories.tsx
  src/components/aside/aside.stories.tsx
  src/components/form/contact/contact.stories.tsx
  src/components/layout/footer/footer.stories.tsx
  src/components/layout/heading/heading.stories.tsx
  src/components/layout/layout.stories.tsx
  src/components/layout/section/section.stories.tsx
  src/components/nav/nav.stories.tsx
  src/components/pages/contact/contact.stories.tsx
  src/components/pages/error/error.stories.tsx
  src/components/pages/homepage/homepage.stories.tsx
  src/components/pages/notfound/notfound.stories.tsx
  src/components/pages/projects/projects.stories.tsx
  src/components/project/project.stories.tsx
Due: eslint --cache --fix

Update stories
  src/components/device/mobile/mobile.stories.tsx
  src/components/form/contact/contact.stories.tsx
  src/components/layout/footer/footer.stories.tsx
  src/components/layout/heading/heading.stories.tsx
  src/components/layout/layout.stories.tsx
  src/components/layout/section/section.stories.tsx
  src/components/pages/contact/contact.stories.tsx
  src/components/pages/error/error.stories.tsx
  src/components/pages/homepage/homepage.stories.tsx
  src/components/pages/notfound/notfound.stories.tsx
  src/components/pages/projects/projects.stories.tsx
  src/components/project/project.stories.tsx
Due: eslint --cache --fix

Edit footer text
  src/data/locales.tsx
Due: eslint --cache --fix

Fix some styles
  src/components/layout/section/section.module.css
  src/components/project/browser/addressbar/addressbar.module.css
  src/components/project/browser/addressbar/addressbar.tsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update some project styles
  public/logo_graphcms.svg
  src/components/project/project.module.css
  src/components/project/project.tsx
  src/components/project/tools/tools.module.css
  src/data/projects.ts
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit homepage video, Update footer text
  src/components/pages/homepage/homepage.tsx
  src/data/locales.tsx
Due: eslint --cache --fix

Update snyk
  .snyk
Due: none

Typo
  src/components/form/contact/contact.tsx
Due: eslint --cache --fix

Update chromatic stories delay
  src/components/form/contact/contact.stories.tsx
  src/components/layout/footer/footer.stories.tsx
  src/components/layout/heading/heading.stories.tsx
  src/components/layout/layout.stories.tsx
  src/components/layout/section/section.stories.tsx
  src/components/pages/contact/contact.stories.tsx
  src/components/pages/error/error.stories.tsx
  src/components/pages/homepage/homepage.stories.tsx
  src/components/pages/notfound/notfound.stories.tsx
  src/components/pages/projects/projects.stories.tsx
  src/components/project/project.stories.tsx
Due: eslint --cache --fix

Update some global styles
  src/assets/styles/base/html.css
  src/assets/styles/utilities/helpers.css
  src/components/logo/logo.module.css
Due: stylelint --cache --fix --color --formatter verbose

Update chromatic stories delay
  src/components/UI/alert/alert.stories.tsx
  src/components/UI/alert/alert.tsx
  src/components/UI/image/image.stories.tsx
  src/components/UI/loader/loader.stories.tsx
  src/components/device/mobile/mobile.stories.tsx
  src/components/form/contact/contact.stories.tsx
  src/components/layout/footer/footer.stories.tsx
  src/components/layout/heading/heading.stories.tsx
  src/components/layout/layout.stories.tsx
  src/components/layout/section/section.stories.tsx
  src/components/pages/contact/contact.stories.tsx
  src/components/pages/error/error.stories.tsx
  src/components/pages/homepage/homepage.stories.tsx
  src/components/pages/notfound/notfound.stories.tsx
  src/components/pages/projects/projects.stories.tsx
  src/components/project/project.stories.tsx
Due: eslint --cache --fix

Edit some components for stories
  .babelrc
  src/components/layout/footer/footer.tsx
  src/components/pages/notfound/notfound.tsx
Due: eslint --cache --fix

Edit babel
  .babelrc
Due: none

Remove unused package
  package.json
  yarn.lock
Due: prettier --write

Upgrade react
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --cache --fix --color --formatter verbose: any of: *.css
  prettier --write: any of: *.{json,md,yml,html}
