Repository ZdenekD/zdenekd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

Fix source path
  src/pages/index.tsx
Due: none

Edit keys for error page
  src/components/keys/keys.tsx
Due: none

Remove cypress badge
  README.md
Due: prettier --write

Upgrade packages
  yarn.lock
Due: none

Edit eslint config file
  .eslintrc
Due: none

Make some clearings
  src/UI/alert/alert.spec.tsx
  src/UI/alert/alert.stories.tsx
  src/state/menu/reducer.ts
  src/state/project/reducer.ts
  src/state/reducer.spec.ts
Due: none

Rename global state, Separate initial state
  src/UI/alert/alert.tsx
  src/components/aside/aside.tsx
  src/components/cursor/cursor.tsx
  src/components/footer/footer.tsx
  src/components/form/contact/contact.tsx
  src/components/header/header.tsx
  src/components/keys/keys.tsx
  src/components/layout/layout.tsx
  src/components/logo/logo.tsx
  src/components/menu/menu.tsx
  src/components/nav/nav.tsx
  src/components/project/project.tsx
  src/hooks/useCursor.ts
  src/hooks/useProjectAction.ts
  src/state/animation/initialState.ts
  src/state/animation/reducer.spec.ts
  src/state/animation/type/index.ts
  src/state/cursor/actions.ts
  src/state/cursor/initialState.ts
  src/state/cursor/reducer.spec.ts
  src/state/cursor/type/index.ts
  src/state/index.tsx
  src/state/initialState.ts
  src/state/menu/initialState.ts
  src/state/menu/reducer.spec.ts
  src/state/menu/type/index.ts
  src/state/message/actions.ts
  src/state/message/initialState.ts
  src/state/message/reducer.spec.ts
  src/state/message/reducer.ts
  src/state/message/type/index.ts
  src/state/project/initialState.ts
  src/state/project/reducer.spec.ts
  src/state/project/type/index.ts
Due: none

Retype context to tuple
  src/UI/alert/alert.tsx
  src/components/aside/aside.tsx
  src/components/cursor/cursor.tsx
  src/components/footer/footer.tsx
  src/components/form/contact/contact.tsx
  src/components/header/header.tsx
  src/components/keys/keys.tsx
  src/components/layout/layout.tsx
  src/components/logo/logo.tsx
  src/components/menu/menu.tsx
  src/components/nav/nav.tsx
  src/components/project/project.tsx
  src/hooks/useCursor.ts
  src/hooks/useProjectAction.ts
  src/state/index.tsx
Due: none

Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

Add storybook postcss addon
  .storybook/main.js
Due: eslint --cache --fix

Small fixes
  src/UI/form-control/input/input.tsx
  src/UI/form-control/textarea/textarea.tsx
  src/UI/picture/picture.tsx
  src/components/cursor/cursor.css
  src/components/cursor/cursor.tsx
  src/state/reducer.spec.ts
Due: stylelint --cache --fix --color --formatter verbose

Remove reselect
  package.json
  yarn.lock
Due: prettier --write

Create hooks distributor interface
  src/hooks/types/distributor.ts
  src/hooks/useKeyboard.ts
  src/hooks/usePageAction.ts
  src/hooks/useProjectAction.ts
  src/hooks/useSwipe.ts
Due: none

Upgrade packages
  README.md
  next-css/css-loader-config.js
  next.config.js
  package.json
  vercel.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Move google fonts
  src/assets/styles/index.css
  src/assets/styles/variables/fonts.css
  src/components/layout/layout.tsx
  src/helpers/regex.ts
  src/pages/_document.tsx
Due: stylelint --cache --fix --color --formatter verbose

Update gitignore because of font import
  .gitignore
  public/font/roboto-mono.woff2
  public/font/roboto-mono_ext.woff2
  public/font/titillium-web.woff2
  public/font/titillium-web_ext.woff2
Due: none

Edit form maximal width
  src/UI/form-control/form/form.css
Due: stylelint --cache --fix --color --formatter verbose

Updated snyk ignore file
  .snyk
Due: none

Downgrade postcss loader because of storybook
  package.json
  yarn.lock
Due: prettier --write

Update storybook config files
  .storybook/main.js
  .storybook/preview-head.html
  .storybook/preview.js
Due: eslint --cache --fix, prettier --write

Set internacionalization in nextjs
  next.config.js
Due: eslint --cache --fix

Localize
  src/api/types/IApi.ts
  src/components/footer/footer.tsx
  src/components/form/contact/contact.tsx
  src/components/header/header.tsx
  src/components/keys/keys.tsx
  src/components/layout/layout.tsx
  src/components/menu/menu.tsx
  src/components/nav/nav.tsx
  src/components/project/browser/addressbar/addressbar.tsx
  src/components/project/browser/controls/controls.tsx
  src/components/project/browser/target/target.tsx
  src/components/project/browser/video/video.tsx
  src/components/project/controls/controls.tsx
  src/components/project/project.css
  src/components/project/project.tsx
  src/components/project/tools/tools.tsx
  src/data/locales.tsx
  src/data/pages.ts
  src/data/pages.tsx
  src/data/projects.ts
  src/enums/LocalesEnum.ts
  src/hooks/useLocale.ts
  src/pages/404.tsx
  src/pages/_document.tsx
  src/pages/_error.tsx
  src/pages/api/send.ts
  src/pages/contact.tsx
  src/pages/index.tsx
  src/pages/projects.tsx
Due: stylelint --cache --fix --color --formatter verbose

Create router mock, Fix tests
  src/__test__/mocks/routerMock.ts
  src/components/footer/__snapshots__/footer.spec.tsx.snap
  src/components/footer/footer.spec.tsx
  src/components/form/contact/contact.spec.tsx
  src/components/header/header.spec.tsx
  src/components/keys/__snapshots__/keys.spec.tsx.snap
  src/components/keys/key/key.spec.tsx
  src/components/keys/keys.spec.tsx
  src/components/layout/__snapshots__/layout.spec.tsx.snap
  src/components/layout/layout.spec.tsx
  src/components/menu/menu.spec.tsx
  src/components/nav/nav.spec.tsx
  src/components/project/browser/addressbar/addressbar.spec.tsx
  src/components/project/browser/browser.spec.tsx
  src/components/project/browser/controls/controls.spec.tsx
  src/components/project/browser/target/target.spec.tsx
  src/components/project/browser/video/video.spec.tsx
  src/components/project/controls/controls.spec.tsx
  src/components/project/project.spec.tsx
  src/components/project/tools/tools.spec.tsx
Due: none

Add missing public video files
  .gitignore
  public/video/avprague.mp4
  public/video/digitalvision.mp4
  public/video/digitalvision_mobile.mp4
  public/video/dirtjob.mp4
  public/video/fit-s-marky.mp4
  public/video/portfolium.mp4
  public/video/stenclova.mp4
  public/video/tomton.mp4
  public/video/tomton_tablet.mp4
Due: none

Edit vercel config
  vercel.json
Due: prettier --write

Remove locale detection from nextjs config file
  next.config.js
Due: eslint --cache --fix

Update nextjs config
  next.config.js
Due: eslint --cache --fix

Edit node and npm versions
  .nvmrc
  package.json
Due: prettier --write

Update plausible to get data from multiple domains
  src/components/layout/layout.tsx
Due: none

Edit vercel config file
  vercel.json
Due: prettier --write

Edit robots.txt
  public/robots.txt
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx}
  stylelint --cache --fix --color --formatter verbose: any of: *.css
  prettier --write: any of: *.{json,md,yml,html}
