Repository ZdenekD/zdenekd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

Update transition animations between pages
  src/components/aside/aside.container.js
  src/components/aside/aside.jsx
  src/pages/_app.jsx
Due: eslint --cache --fix

Add footer, Update content
  src/components/aside/aside.css
  src/components/aside/aside.jsx
  src/components/content/content.css
  src/components/content/content.jsx
  src/components/footer/footer.css
  src/components/footer/footer.jsx
  src/components/footer/index.jsx
  src/components/layout/main/main.css
  src/components/layout/main/main.jsx
  src/components/menu/menu.jsx
  src/helpers/getRoman.js
  src/pages/_app.jsx
  src/pages/index.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update content
  src/components/aside/aside.jsx
  src/components/content/content.css
  src/components/content/content.jsx
  src/components/footer/footer.css
  src/components/footer/footer.jsx
  src/components/layout/main/main.jsx
  src/data/pages.js
  src/pages/_app.css
  src/pages/about.jsx
  src/pages/contact.jsx
  src/pages/index.jsx
  src/pages/projects.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Remove getInitialProps
  src/pages/_app.jsx
Due: eslint --cache --fix

Update footer animations, Edit app
  src/components/footer/footer.container.js
  src/components/footer/footer.css
  src/components/footer/footer.jsx
  src/components/footer/index.jsx
  src/components/menu/menu.jsx
  src/pages/_app.jsx
  src/pages/_error.jsx
  src/pages/_index.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Add keyboard icons to footer
  src/components/footer/footer.css
  src/components/footer/footer.jsx
  src/pages/_app.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Add some tests, Edit get page helper
  src/__test__/_error.spec.js
  src/__test__/utils/helpers.js
  src/components/aside/aside.jsx
  src/components/footer/footer.jsx
  src/components/footer/footer.spec.js
  src/components/heading/heading.jsx
  src/components/heading/heading.spec.js
  src/components/layout/main/main.jsx
  src/components/layout/main/main.spec.js
  src/helpers/getPage.js
  src/helpers/getPage.spec.js
  src/helpers/getRoman.spec.js
  src/pages/_app.jsx
  src/pages/_error.jsx
  src/store/app/actions.spec.js
  src/store/menu/actions.spec.js
Due: eslint --cache --fix

Start preparing projects content
  src/components/aside/aside.jsx
  src/components/content/content.css
  src/components/content/content.jsx
  src/components/header/header.css
  src/components/heading/heading.jsx
  src/components/layout/main/main.jsx
  src/data/projects.js
  src/pages/projects.css
  src/pages/projects.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update vscode config file
  jsconfig.json
Due: prettier --write

Add jest snapshot serializer
  jest.config.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Edit content styles
  src/components/content/content.css
  src/pages/projects.css
Due: stylelint --cache --fix --color --formatter verbose

Resolve protocol error
  now.json
Due: prettier --write

Edit jest config, Update some test expects
  jest.config.js
  src/__test__/_error.spec.js
  src/__test__/about.spec.js
  src/__test__/contact.spec.js
  src/__test__/index.spec.js
  src/__test__/projects.spec.js
  src/components/aside/aside.spec.js
  src/components/content/content.spec.js
  src/components/footer/footer.spec.js
  src/components/header/header.spec.js
  src/components/heading/heading.spec.js
  src/components/menu/menu.spec.js
Due: eslint --cache --fix

Fix now config file
  now.json
Due: prettier --write

Add favicon, Start preparing project details
  src/components/footer/footer.css
  src/components/layout/main/main.jsx
  src/components/project/index.jsx
  src/components/project/project.css
  src/components/project/project.jsx
  src/components/project/project.spec.js
  src/data/projects.js
  src/pages/_app.css
  src/pages/projects.css
  src/pages/projects.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Create cursor component
  src/assets/styles/variables.css
  src/components/cursor/__snapshots__/cursor.spec.js.snap
  src/components/cursor/cursor.css
  src/components/cursor/cursor.jsx
  src/components/cursor/cursor.spec.js
  src/components/cursor/index.jsx
  src/components/heading/heading.css
  src/components/layout/main/main.jsx
  src/components/menu/menu.css
  src/components/project/project.css
  src/pages/_app.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit cursor
  src/components/cursor/cursor.css
  src/components/cursor/cursor.jsx
  src/components/layout/main/main.css
  src/components/menu/menu.css
  src/hooks/cursor.jsx
  src/pages/_app.css
  src/pages/_app.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Start preparing contact form, Start preparing form components
  src/components/form/__snapshots__/form.spec.js.snap
  src/components/form/form.css
  src/components/form/form.jsx
  src/components/form/form.spec.js
  src/components/form/index.jsx
  src/components/form/input/__snapshots__/input.spec.js.snap
  src/components/form/input/index.jsx
  src/components/form/input/input.css
  src/components/form/input/input.jsx
  src/components/form/input/input.spec.js
  src/components/form/textarea/__snapshots__/textarea.spec.js.snap
  src/components/form/textarea/index.jsx
  src/components/form/textarea/textarea.css
  src/components/form/textarea/textarea.jsx
  src/components/form/textarea/textarea.spec.js
  src/pages/contact.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit keyboard controls (remove home and end keys)
  src/components/layout/main/main.jsx
Due: eslint --cache --fix

Add button component, Start form styling
  src/components/form/__snapshots__/form.spec.js.snap
  src/components/form/button/__snapshots__/button.spec.js.snap
  src/components/form/button/button.css
  src/components/form/button/button.jsx
  src/components/form/button/button.spec.js
  src/components/form/button/index.jsx
  src/components/form/form.css
  src/components/form/form.jsx
  src/components/form/input/input.css
  src/components/form/input/input.jsx
  src/components/form/textarea/textarea.css
  src/components/form/textarea/textarea.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Add freshping status badge
  README.md
Due: prettier --write

Style form inputs and textarea
  src/components/form/__snapshots__/form.spec.js.snap
  src/components/form/button/button.css
  src/components/form/form.css
  src/components/form/input/__snapshots__/input.spec.js.snap
  src/components/form/input/input.css
  src/components/form/input/input.jsx
  src/components/form/textarea/__snapshots__/textarea.spec.js.snap
  src/components/form/textarea/textarea.css
  src/components/form/textarea/textarea.jsx
  src/pages/_app.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Add form validations
  src/components/form/__snapshots__/form.spec.js.snap
  src/components/form/form.css
  src/components/form/form.jsx
  src/components/form/input/__snapshots__/input.spec.js.snap
  src/components/form/input/input.css
  src/components/form/input/input.jsx
  src/components/form/input/input.spec.js
  src/components/form/textarea/__snapshots__/textarea.spec.js.snap
  src/components/form/textarea/textarea.css
  src/components/form/textarea/textarea.jsx
  src/components/form/textarea/textarea.spec.js
  src/helpers/regex.js
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Install sendgrid and dotenv, Add api key
  next.config.js
  now.json
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Add api for send e-mail, Update form
  src/components/form/form.jsx
  src/components/form/input/input.jsx
  src/components/form/textarea/textarea.jsx
  src/pages/api/send.js
Due: eslint --cache --fix

Update nowignore
  .nowignore
Due: none

Install react modal
  package.json
  yarn.lock
Due: prettier --write

Create modal component, Update cursor component import, Add modal to form
  src/assets/styles/variables.css
  src/components/form/form.jsx
  src/components/layout/main/main.jsx
  src/components/modal/index.jsx
  src/components/modal/modal.css
  src/components/modal/modal.jsx
  src/pages/_app.css
  src/pages/_app.jsx
  src/pages/_index.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Add honeypot
  src/components/form/form.css
  src/components/form/form.jsx
  src/components/form/input/input.jsx
  src/components/form/textarea/textarea.jsx
  src/components/modal/modal.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update form snapshot, Fix modal for tests
  src/components/form/__snapshots__/form.spec.js.snap
  src/components/modal/modal.jsx
Due: eslint --cache --fix

Edit jest config (add index store to ignore)
  jest.config.js
Due: eslint --cache --fix

Edit test helper
  src/__test__/utils/helpers.js
Due: eslint --cache --fix

Separate color variables, Add form fields character counter
  src/assets/styles/colors.css
  src/assets/styles/variables.css
  src/components/form/__snapshots__/form.spec.js.snap
  src/components/form/form.css
  src/components/form/form.jsx
  src/components/form/input/__snapshots__/input.spec.js.snap
  src/components/form/input/input.css
  src/components/form/input/input.jsx
  src/components/form/input/input.spec.js
  src/components/form/textarea/__snapshots__/textarea.spec.js.snap
  src/components/form/textarea/textarea.css
  src/components/form/textarea/textarea.jsx
  src/components/form/textarea/textarea.spec.js
  src/pages/_index.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Add e-mail link to footer
  src/components/footer/footer.css
  src/components/footer/footer.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Handle component default props
  src/components/form/input/input.jsx
  src/components/form/textarea/textarea.jsx
  src/components/modal/modal.jsx
  src/pages/_error.jsx
Due: eslint --cache --fix

Edit input and textarea counters
  src/components/form/input/input.jsx
  src/components/form/textarea/textarea.jsx
Due: eslint --cache --fix

Edit modal message style
  src/components/modal/modal.css
Due: stylelint --cache --fix --color --formatter verbose

Remove e-mail contact from footer
  src/components/footer/footer.jsx
Due: eslint --cache --fix

Remove unused footer link styles
  src/components/footer/footer.css
Due: stylelint --cache --fix --color --formatter verbose

Update react packages
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx}
  stylelint --cache --fix --color --formatter verbose: any of: *.css
  prettier --write: any of: *.{json,md,yml,html}
