Repository ZdenekD/zdenekd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
      "eslint --cache --fix"
    ],
    "*.css": [
      "stylelint --cache --fix --color --formatter verbose"
    ],
    "*.{json,md,yml,html}": [
      "prettier --write"
    ]
}

Fix storybook import after folder structure update
  .storybook/preview.js
Due: eslint --cache --fix

Headers
  vercel.json
Due: prettier --write

Edit api options headers
  src/api/options.ts
Due: eslint --cache --fix

Sync config files
  .editorconfig
  .eslintignore
  .eslintrc
  .gitignore
  .prettierignore
  .storybook/main.js
  .storybook/preview.js
  .stylelintignore
  jest.config.js
  next-css/css-loader-config.js
  next-env.d.ts
  next.config.js
  src/__test__/setup.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

Small fixes, Rename next router mock, Fix robots
  .storybook/preview.js
  public/robots.txt
  src/__test__/mocks/nextRouterMock.ts
  src/components/UI/alert/alert.spec.tsx
  src/components/form/contact/contact.spec.tsx
  src/components/keys/keys.spec.tsx
  src/components/layout/footer/footer.spec.tsx
  src/components/layout/header/header.spec.tsx
  src/components/layout/layout.spec.tsx
  src/components/menu/menu.spec.tsx
  src/components/nav/nav.spec.tsx
  src/components/project/browser/addressbar/addressbar.spec.tsx
  src/components/project/browser/browser.spec.tsx
  src/components/project/browser/controls/controls.spec.tsx
  src/components/project/browser/target/target.spec.tsx
  src/components/project/browser/video/video.spec.tsx
  src/components/project/controls/controls.spec.tsx
  src/components/project/project.spec.tsx
  src/components/project/tools/tools.spec.tsx
  vercel.json
Due: eslint --cache --fix, prettier --write

Upgrade packages
  yarn.lock
Due: none

Add chromatic package
  package.json
  yarn.lock
Due: prettier --write

Sync config files, Add aliases, Edit README, Add test mocks
  .eslintrc
  .storybook/main.js
  README.md
  __test__/transform/file.js
  __test__/transform/svg.js
  jest.config.js
  src/__test__/mocks/nextImageMock.tsx
  src/__test__/mocks/nextLinkMock.tsx
  src/__test__/mocks/reactReduxMock.ts
  src/__test__/utils/helpers.tsx
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Fix cursor regeneration
  src/assets/styles/variables/fonts.css
  src/components/UI/alert/alert.animations.ts
  src/components/cursor/cursor.module.css
  src/components/cursor/cursor.tsx
  src/components/layout/footer/footer.animations.ts
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Upgrade packages
  .snyk
  yarn.lock
Due: none

Update snyk policy
  .snyk
Due: none

Edit sentry
  .env.sample
  .gitignore
  next.config.js
  sentry.client.config.js
  sentry.properties
  sentry.server.config.js
Due: eslint --cache --fix

Edit storybook config, Remove vercel ignore file
  .storybook/preview.js
  .vercelignore
Due: eslint --cache --fix

Update snyk ignore
  .snyk
Due: none

Sync some titles
  src/components/UI/form-control/textarea/textarea.spec.tsx
  src/components/UI/image/image.spec.tsx
  src/components/UI/loader/loader.spec.tsx
  src/components/layout/footer/footer.spec.tsx
  src/components/layout/header/header.spec.tsx
  src/components/layout/section/section.spec.tsx
  src/store/message/actions.ts
  src/store/message/reducer.spec.ts
  src/store/message/reducer.ts
Due: eslint --cache --fix

Edit gitignore
  .gitignore
Due: none

Edit tests
  jest.config.js
  package.json
  src/__test__/mocks/requestAnimationFrame.ts
  src/__test__/utils/helpers.tsx
Due: eslint --cache --fix, prettier --write

Sync config files
  .eslintrc
  .storybook/main.js
  jest.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Add vercel ignore file
  .vercelignore
Due: none

Edit config files
  .stylelintignore
  next-css/css-loader-config.js
Due: eslint --cache --fix

Upgrade react hook forms package, Add yup resolver
  package.json
  yarn.lock
Due: prettier --write

Update form
  src/components/UI/form-control/input/input.module.css
  src/components/UI/form-control/input/input.stories.tsx
  src/components/UI/form-control/input/input.tsx
  src/components/UI/form-control/textarea/textarea.stories.tsx
  src/components/UI/form-control/textarea/textarea.tsx
  src/components/form/contact/contact.tsx
  src/components/form/contact/contact.validation.ts
  src/data/locales.tsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Rename base component stories variable name
  src/components/UI/alert/alert.stories.tsx
  src/components/UI/anchor/anchor.stories.tsx
  src/components/UI/form-control/button/button.stories.tsx
  src/components/UI/icon/icon.stories.tsx
  src/components/UI/image/image.stories.tsx
  src/components/UI/loader/loader.stories.tsx
  src/components/aside/aside.stories.tsx
  src/components/device/computer/computer.stories.tsx
  src/components/device/mobile/mobile.stories.tsx
  src/components/device/tablet/tablet.stories.tsx
  src/components/form/contact/contact.stories.tsx
  src/components/heading/heading.stories.tsx
  src/components/keys/key.stories.tsx
  src/components/layout/footer/footer.stories.tsx
  src/components/layout/header/header.stories.tsx
  src/components/layout/layout.stories.tsx
  src/components/layout/section/section.stories.tsx
  src/components/logo/logo.stories.tsx
  src/components/menu/menu.stories.tsx
  src/components/nav/nav.stories.tsx
  src/components/project/project.stories.tsx
Due: eslint --cache --fix

Remove unused contact form tests
  src/components/form/contact/contact.spec.tsx
Due: eslint --cache --fix
