Repository ZdenekD/zdenekd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

Add framer motion to storybook
  .storybook/preview.js
Due: eslint --cache --fix

Edit menu
  src/components/menu/menu.tsx
  src/state/menu/initialState.ts
  src/state/menu/type/index.ts
Due: eslint --cache --fix

Change motion to m (framer-motion)
  src/components/aside/aside.tsx
  src/components/curtain/curtain.tsx
  src/components/device/mobile/mobile.tsx
  src/components/keys/keys.tsx
  src/components/layout/footer/footer.tsx
  src/components/layout/layout.tsx
  src/components/layout/section/section.tsx
  src/components/logo/logo.tsx
  src/components/nav/nav.tsx
  src/components/project/browser/video/video.tsx
  src/pages/index.tsx
Due: eslint --cache --fix

Fix aside lazy motion
  src/components/aside/aside.tsx
Due: eslint --cache --fix

Edit alert test
  src/components/UI/alert/alert.spec.tsx
Due: eslint --cache --fix

Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

Add sentry nextjs, Update nextjs config
  next.config.js
  sentry.client.config.js
  sentry.properties
  sentry.server.config.js
  src/components/layout/layout.tsx
  src/pages/api/send.ts
  yarn.lock
Due: eslint --cache --fix

Remove sentry properties
  .gitignore
  sentry.properties
Due: none

Add sentry nextjs, Update nextjs config
  .gitignore
  next.config.js
  sentry.client.config.js
  sentry.server.config.js
  src/components/layout/layout.tsx
  src/pages/api/send.ts
Due: eslint --cache --fix

Edit README
  README.md
Due: prettier --write

Update packages
  package.json
  yarn.lock
Due: prettier --write

Update typescript config after nextjs update
  next-add.d.ts
  next-env.d.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Upgrade typescript
  package.json
  yarn.lock
Due: prettier --write

Fix css loader
  next-css/css-loader-config.js
  next.config.js
Due: eslint --cache --fix

Upgrade packages
  yarn.lock
Due: none

Remove unused imported component
  src/components/layout/layout.tsx
Due: eslint --cache --fix

Remove unused sentry browser
  src/pages/_app.tsx
Due: eslint --cache --fix

Move base provider under utils
  src/state/animation/index.tsx
  src/state/cursor/index.tsx
  src/state/menu/index.tsx
  src/state/message/index.tsx
  src/state/project/index.tsx
  src/state/utils/provider.tsx
Due: eslint --cache --fix

Update browserslist versions to 2020+
  .browserslistrc
Due: none

Edit vercel config
  vercel.json
Due: prettier --write

Edit vercel config file
  vercel.json
Due: prettier --write

Remove meta theme color
  src/components/layout/layout.tsx
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --cache --fix --color --formatter verbose: any of: *.css
  prettier --write: any of: *.{json,md,yml,html}
