Repository ZdenekD/zdenekd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

.lintstagedrc:

{
    "*.{js,jsx}": [
      "eslint --cache --fix"
    ],
    "*.css": [
      "stylelint --cache --fix --color --formatter verbose"
    ],
    "*.{json,md,yml,html}": [
      "prettier --write"
    ]
}

Remove @tabler/icon dependency (huge package)
  src/UI/icon/icon.tsx
Due: none

Updated snapshots
  src/components/footer/__snapshots__/footer.spec.tsx.snap
  src/components/layout/__snapshots__/layout.spec.tsx.snap
Due: none

Unset locale detection
  next.config.js
Due: eslint --cache --fix

Add locales switcher
  src/components/footer/footer.css
  src/components/footer/footer.tsx
  src/components/keys/keys.css
Due: stylelint --cache --fix --color --formatter verbose

Update router mock, Update snapshots
  src/__test__/mocks/routerMock.ts
  src/components/footer/__snapshots__/footer.spec.tsx.snap
  src/components/layout/__snapshots__/layout.spec.tsx.snap
Due: none

Edit eslint config file
  .eslintrc
Due: none

Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

Add info about icons into README file
  README.md
Due: prettier --write

Add form input and textarea caret color
  src/UI/form-control/input/input.css
  src/UI/form-control/textarea/textarea.css
Due: stylelint --cache --fix --color --formatter verbose

Update locales link (use cursor and animation)
  src/components/footer/footer.animations.ts
  src/components/footer/footer.css
  src/components/footer/footer.tsx
  src/components/footer/locale/index.tsx
  src/components/footer/locale/locale.css
  src/components/footer/locale/locale.tsx
Due: stylelint --cache --fix --color --formatter verbose

Fix tests after state upgrade
  src/UI/alert/alert.spec.tsx
  src/__test__/utils/helpers.tsx
  src/components/footer/__snapshots__/footer.spec.tsx.snap
  src/components/layout/__snapshots__/layout.spec.tsx.snap
  src/state/animation/reducer.spec.ts
  src/state/cursor/reducer.spec.ts
  src/state/cursor/type/actions.ts
  src/state/project/reducer.spec.ts
Due: none

Sync eslint config file, Small updates in reset and easings
  .eslintrc
  src/assets/styles/base/reset.css
  src/assets/styles/variables/easing.css
Due: stylelint --cache --fix --color --formatter verbose

Remove plausible
  src/components/layout/layout.tsx
Due: none

Edit package json, Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

Small state updates
  src/assets/images/logo.svg
  src/data/locales.tsx
  src/pages/404.tsx
  src/state/cursor/type/actions.ts
  src/state/provider.tsx
  src/state/type/state.ts
Due: none

Fix path in stories
  src/components/UI/alert/alert.stories.tsx
  src/components/UI/form-control/button/button.stories.tsx
  src/components/UI/form-control/input/input.stories.tsx
  src/components/UI/form-control/textarea/textarea.stories.tsx
Due: none

Fix storybook font load (move base styles under storybook with little path change)
  .storybook/fonts.css
  .storybook/index.css
  .storybook/preview.js
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Sync config files
  .browserslistrc
  .gitignore
  .huskyrc
  .lintstagedrc
  __test__/transform/svg.js
  jest.config.js
  package.json
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Move layout components under layout
  src/components/layout/__snapshots__/layout.spec.tsx.snap
  src/components/layout/footer/__snapshots__/footer.spec.tsx.snap
  src/components/layout/footer/footer.animations.ts
  src/components/layout/footer/footer.module.css
  src/components/layout/footer/footer.spec.tsx
  src/components/layout/footer/footer.stories.tsx
  src/components/layout/footer/footer.tsx
  src/components/layout/footer/index.tsx
  src/components/layout/footer/lang/index.tsx
  src/components/layout/footer/lang/lang.module.css
  src/components/layout/footer/lang/lang.tsx
  src/components/layout/header/__snapshots__/header.spec.tsx.snap
  src/components/layout/header/header.module.css
  src/components/layout/header/header.spec.tsx
  src/components/layout/header/header.stories.tsx
  src/components/layout/header/header.tsx
  src/components/layout/header/index.tsx
  src/components/layout/layout.module.css
  src/components/layout/layout.spec.tsx
  src/components/layout/layout.stories.tsx
  src/components/layout/layout.tsx
  src/components/layout/section/__snapshots__/section.spec.tsx.snap
  src/components/layout/section/index.tsx
  src/components/layout/section/section.animations.ts
  src/components/layout/section/section.module.css
  src/components/layout/section/section.spec.tsx
  src/components/layout/section/section.stories.tsx
  src/components/layout/section/section.tsx
  src/components/section/seciton.stories.tsx
Due: stylelint --cache --fix --color --formatter verbose

Edit loader max sizing
  src/components/UI/form-control/textarea/textarea.tsx
  src/components/UI/loader/loader.module.css
Due: stylelint --cache --fix --color --formatter verbose

Edit send api
  src/pages/api/send.ts
  vercel.json
Due: prettier --write

Change all colors to hsl values
  src/assets/styles/variables/colors.css
Due: stylelint --cache --fix --color --formatter verbose

Update colors
  src/assets/styles/index.css
  src/assets/styles/pages/contact.css
  src/assets/styles/pages/error.css
  src/assets/styles/pages/index.css
  src/assets/styles/pages/projects.css
  src/assets/styles/variables/variables.css
  src/components/UI/alert/alert.module.css
  src/components/UI/anchor/anchor.module.css
  src/components/UI/form-control/button/button.module.css
  src/components/UI/form-control/input/input.module.css
  src/components/UI/form-control/textarea/textarea.module.css
  src/components/UI/loader/loader.module.css
  src/components/aside/aside.module.css
  src/components/cursor/cursor.module.css
  src/components/curtain/curtain.animations.ts
  src/components/device/computer/computer.module.css
  src/components/device/mobile/mobile.module.css
  src/components/device/tablet/tablet.module.css
  src/components/keys/key/key.module.css
  src/components/layout/footer/footer.module.css
  src/components/layout/footer/lang/lang.module.css
  src/components/layout/layout.module.css
  src/components/logo/logo.module.css
  src/components/menu/menu.module.css
  src/components/nav/nav.module.css
  src/components/project/browser/addressbar/addressbar.module.css
  src/components/project/browser/browser.module.css
  src/components/project/browser/controls/controls.module.css
  src/components/project/browser/target/target.module.css
  src/components/project/controls/controls.module.css
  src/components/project/tools/tools.module.css
Due: stylelint --cache --fix --color --formatter verbose

Updated snapshots
  src/components/curtain/__snapshots__/curtain.spec.tsx.snap
  src/components/layout/__snapshots__/layout.spec.tsx.snap
Due: none

Update alert components
  src/assets/styles/variables/variables.css
  src/components/UI/alert/alert.module.css
  src/components/UI/alert/alert.stories.tsx
  src/components/UI/alert/alert.tsx
Due: stylelint --cache --fix --color --formatter verbose

Update snapshots
  src/components/UI/alert/__snapshots__/alert.spec.tsx.snap
Due: none

Edit vercel config
  vercel.json
Due: prettier --write

Upgrade packages, Sync some config files
  .browserslistrc
  README.md
  next.config.js
  package.json
  vercel.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Upgrade to node 14
  .github/workflows/jest.yml
  .github/workflows/snyk.yml
  .nvmrc
Due: prettier --write

Make some fixes
  .storybook/fonts.css
  .storybook/index.css
  src/assets/styles/base/html.css
  src/assets/styles/base/reset.css
  src/assets/styles/index.css
  src/assets/styles/variables/colors.css
  src/assets/styles/variables/fonts.css
  src/components/UI/alert/alert.tsx
  src/components/form/contact/contact.tsx
  src/components/layout/layout.module.css
  src/helpers/regex.ts
  src/pages/_document.tsx
Due: stylelint --cache --fix --color --formatter verbose

Fix typescript version because of some error in storybook
  package.json
  yarn.lock
Due: prettier --write

Update snapshots
  src/__test__/mocks/routerMock.ts
  src/components/UI/alert/__snapshots__/alert.spec.tsx.snap
  src/components/form/contact/__snapshots__/contact.spec.tsx.snap
  src/components/keys/__snapshots__/keys.spec.tsx.snap
  src/components/layout/__snapshots__/layout.spec.tsx.snap
  src/components/layout/footer/__snapshots__/footer.spec.tsx.snap
  src/components/layout/header/__snapshots__/header.spec.tsx.snap
  src/components/menu/__snapshots__/menu.spec.tsx.snap
  src/components/nav/__snapshots__/nav.spec.tsx.snap
  src/components/project/__snapshots__/project.spec.tsx.snap
  src/components/project/browser/__snapshots__/browser.spec.tsx.snap
  src/components/project/browser/addressbar/__snapshots__/addressbar.spec.tsx.snap
  src/components/project/browser/controls/__snapshots__/controls.spec.tsx.snap
  src/components/project/browser/target/__snapshots__/target.spec.tsx.snap
  src/components/project/browser/video/__snapshots__/video.spec.tsx.snap
  src/components/project/controls/__snapshots__/controls.spec.tsx.snap
  src/components/project/tools/__snapshots__/tools.spec.tsx.snap
Due: none

Update sitemap
  public/sitemap.xml
Due: none

Fix sendgrid template
  src/pages/api/send.ts
Due: none
