Repository ZdenekD/zdenekd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

Edit hooks
  src/components/content/content.jsx
  src/components/cursor/cursor.jsx
  src/components/footer/footer.jsx
  src/components/footer/keys/keyDown/keyDown.jsx
  src/components/footer/keys/keyUp/keyUp.jsx
  src/components/form/button/__snapshots__/button.spec.js.snap
  src/components/form/button/button.jsx
  src/components/form/button/button.spec.js
  src/components/form/form.jsx
  src/components/form/input/input.jsx
  src/components/form/textarea/textarea.jsx
  src/components/heading/heading.css
  src/components/heading/heading.jsx
  src/components/layout/main/main.jsx
  src/components/menu/menu.jsx
  src/components/project/project.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit aside tests
  src/components/aside/__snapshots__/aside.spec.js.snap
  src/components/aside/aside.jsx
  src/components/aside/aside.spec.js
Due: eslint --cache --fix

Update component and tests with context provider
  src/components/cursor/cursor.jsx
  src/components/form/__snapshots__/form.spec.js.snap
  src/components/form/button/button.spec.js
  src/components/form/form.spec.js
  src/components/layout/main/main.jsx
  src/hooks/hover.jsx
  src/state/index.js
Due: eslint --cache --fix

Update anchor test with state provider, Add some input and textarea tests
  src/components/anchor/anchor.spec.js
  src/components/form/input/input.spec.js
  src/components/form/textarea/textarea.spec.js
Due: eslint --cache --fix

Update jest transform helpers
  __test__/transform/css.js
  __test__/transform/file.js
  __test__/transform/svg.js
  jest.config.js
Due: eslint --cache --fix

Update tests, Make some new ones, Add some snapshots
  src/__test__/utils/helpers.js
  src/components/anchor/__snapshots__/anchor.spec.js.snap
  src/components/anchor/anchor.spec.js
  src/components/aside/aside.spec.js
  src/components/cursor/cursor.spec.js
  src/components/footer/footer.jsx
  src/components/footer/footer.spec.js
  src/components/footer/keys/__snapshots__/keys.spec.js.snap
  src/components/footer/keys/keyDown/__snapshots__/keyDown.spec.js.snap
  src/components/footer/keys/keyDown/keyDown.spec.js
  src/components/footer/keys/keyUp/__snapshots__/keyUp.spec.js.snap
  src/components/footer/keys/keyUp/keyUp.spec.js
  src/components/footer/keys/keys.spec.js
  src/components/form/button/__snapshots__/button.spec.js.snap
  src/components/form/button/button.spec.js
  src/components/form/form.spec.js
  src/components/form/input/input.spec.js
  src/components/form/textarea/textarea.spec.js
  src/components/header/header.spec.js
  src/components/heading/__snapshots__/heading.spec.js.snap
  src/components/heading/heading.spec.js
  src/components/layout/main/main.spec.js
  src/components/menu/__snapshots__/menu.spec.js.snap
  src/components/menu/menu.spec.js
Due: eslint --cache --fix

Remove unused normalize package
  package.json
  postcss.config.js
  src/pages/_index.css
  yarn.lock
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

Add axe action
  .github/workflows/axe.yml
Due: prettier --write

Install axe package, Edit template
  package.json
  src/components/layout/main/main.jsx
  src/pages/_app.jsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

Remove unnecesary axe package (it;s in webhint packaage)
  .github/workflows/axe.yml
  package.json
  yarn.lock
Due: prettier --write

Edit snyk badge
  README.md
Due: prettier --write

Add snyk config file (through snyk wizard)
  .snyk
Due: none

Remove unused redux logger
  package.json
  src/store/index.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

Start preparing responsivness, Edit form styles
  src/assets/styles/media.css
  src/assets/styles/variables.css
  src/components/aside/aside.css
  src/components/content/content.css
  src/components/footer/footer.css
  src/components/form/button/button.css
  src/components/form/form.css
  src/components/form/input/input.css
  src/components/header/header.css
  src/components/project/project.css
  src/data/projects.js
  src/pages/_index.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Handle postcss with media queries
  postcss.config.js
  src/pages/_index.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit footer
  src/components/content/content.css
  src/components/footer/footer.css
  src/components/footer/keys/keys.css
  src/components/project/project.css
  src/pages/_index.css
Due: stylelint --cache --fix --color --formatter verbose

Add eslint jsx sort attributes rule
  .eslintrc
Due: none

Run sorter, Update snapshots
  src/components/anchor/anchor.jsx
  src/components/aside/aside.jsx
  src/components/content/content.jsx
  src/components/cursor/cursor.jsx
  src/components/footer/footer.jsx
  src/components/footer/keys/__snapshots__/keys.spec.js.snap
  src/components/footer/keys/keyDown/__snapshots__/keyDown.spec.js.snap
  src/components/footer/keys/keyDown/keyDown.jsx
  src/components/footer/keys/keyUp/__snapshots__/keyUp.spec.js.snap
  src/components/footer/keys/keyUp/keyUp.jsx
  src/components/form/__snapshots__/form.spec.js.snap
  src/components/form/button/button.jsx
  src/components/form/form.jsx
  src/components/form/input/input.jsx
  src/components/form/input/input.spec.js
  src/components/form/textarea/textarea.jsx
  src/components/form/textarea/textarea.spec.js
  src/components/heading/heading.jsx
  src/components/menu/__snapshots__/menu.spec.js.snap
  src/components/menu/menu.jsx
  src/components/modal/modal.jsx
  src/components/project/project.jsx
  src/pages/_app.jsx
Due: eslint --cache --fix

Edit modal handle close method
  src/components/form/form.jsx
  src/components/modal/modal.jsx
Due: eslint --cache --fix

Edit state provider name
  src/state/index.js
Due: eslint --cache --fix

Responsive
  src/assets/styles/variables.css
  src/components/aside/aside.css
  src/components/content/content.css
  src/components/footer/footer.css
  src/components/footer/keys/keys.css
  src/components/form/button/button.css
  src/components/form/form.css
  src/components/form/input/input.css
  src/components/form/textarea/textarea.css
  src/components/heading/heading.css
  src/components/layout/main/main.jsx
  src/components/menu/menu.css
  src/components/modal/modal.css
  src/components/project/project.css
  src/pages/_index.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update form sizing, Update projects and footer
  src/assets/styles/variables.css
  src/components/footer/footer.css
  src/components/footer/keys/keys.css
  src/components/form/form.css
  src/components/form/form.jsx
  src/components/form/input/input.css
  src/components/heading/heading.css
  src/components/project/project.css
  src/pages/projects.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Responsive updates
  src/components/content/content.css
  src/components/header/header.css
  src/components/project/project.css
  src/pages/projects.css
Due: stylelint --cache --fix --color --formatter verbose

Form snapshot
  src/components/form/__snapshots__/form.spec.js.snap
Due: none

Add loader
  src/assets/styles/variables.css
  src/components/form/__snapshots__/form.spec.js.snap
  src/components/form/form.css
  src/components/form/form.jsx
  src/components/layout/main/main.jsx
  src/components/loader/__snapshots__/loader.spec.js.snap
  src/components/loader/index.jsx
  src/components/loader/loader.css
  src/components/loader/loader.jsx
  src/components/loader/loader.spec.js
  src/components/modal/modal.css
  src/pages/_app.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Prepare store controlled projects
  src/components/project/index.jsx
  src/components/project/project.container.js
  src/components/project/project.jsx
  src/components/project/project.spec.js
  src/store/project/actions.js
  src/store/project/actions.spec.js
  src/store/project/reducer.js
  src/store/reducer.js
Due: eslint --cache --fix

Handle footer keys to control projects
  src/components/footer/keys/__snapshots__/keys.spec.js.snap
  src/components/footer/keys/keyDown/keyDown.jsx
  src/components/footer/keys/keyLeft/__snapshots__/keyLeft.spec.js.snap
  src/components/footer/keys/keyLeft/index.jsx
  src/components/footer/keys/keyLeft/keyLeft.css
  src/components/footer/keys/keyLeft/keyLeft.jsx
  src/components/footer/keys/keyLeft/keyLeft.spec.js
  src/components/footer/keys/keyRight/__snapshots__/keyRight.spec.js.snap
  src/components/footer/keys/keyRight/index.jsx
  src/components/footer/keys/keyRight/keyRight.css
  src/components/footer/keys/keyRight/keyRight.jsx
  src/components/footer/keys/keyRight/keyRight.spec.js
  src/components/footer/keys/keyUp/keyUp.jsx
  src/components/footer/keys/keys.container.js
  src/components/footer/keys/keys.css
  src/components/footer/keys/keys.jsx
  src/components/project/project.container.js
  src/components/project/project.jsx
  src/data/projects.js
  src/store/project/actions.js
  src/store/project/actions.spec.js
  src/store/project/reducer.js
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Fix browser video container height
  src/components/project/project.css
  src/components/project/project.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Return pages swipe control, Fix projects swipe control
  src/components/layout/main/main.jsx
  src/components/project/project.jsx
Due: eslint --cache --fix

Update outdated packages
  package.json
  yarn.lock
Due: prettier --write

Edit postcss config file, Update now ignore file
  .nowignore
  postcss.config.js
Due: eslint --cache --fix

Remove pages touch control, Handle favicons
  src/assets/images/favicon.png
  src/assets/images/favicon.svg
  src/components/layout/main/main.jsx
Due: eslint --cache --fix

Update favicons path
  src/components/layout/main/main.jsx
Due: eslint --cache --fix

Handle controls if menu is open
  src/components/layout/main/main.container.js
  src/components/layout/main/main.jsx
Due: eslint --cache --fix

Edit postcss stylelint for development
  postcss.config.js
Due: eslint --cache --fix

Update config files
  .eslintrc
  .gitignore
  .huskyrc
  .nowignore
  jest.config.js
  now.json
  postcss.config.js
Due: eslint --cache --fix, prettier --write

Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

Rename tasks
  package.json
Due: prettier --write

Update github workflows
  .github/workflows/jest.yml
  .github/workflows/snyk.yml
Due: prettier --write

Edit send api
  src/components/footer/keys/keys.jsx
  src/pages/api/send.js
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx}
  stylelint --cache --fix --color --formatter verbose: any of: *.css
  prettier --write: any of: *.{json,md,yml,html}
