Repository ZdenekD/zdenekd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

.lintstagedrc:

{
    "*.{js,jsx}": [
      "eslint --cache --fix"
    ],
    "*.css": [
      "stylelint --cache --fix --color --formatter verbose"
    ],
    "*.{json,md,yml,html}": [
      "prettier --write"
    ]
}

Edit storybook config, Add some missing stories
  .storybook/preview.js
  src/components/project/browser/addressbar/addressbar.stories.tsx
  src/components/project/browser/browser.stories.tsx
  src/components/project/browser/controls/controls.stories.tsx
  src/components/project/browser/target/target.stories.tsx
  src/components/project/browser/video/video.stories.tsx
Due: eslint --cache --fix

Update packages
  yarn.lock
Due: none

Edit cursor component
  src/components/cursor/cursor.css
  src/components/cursor/cursor.tsx
Due: stylelint --cache --fix --color --formatter verbose

Update project animations
  src/UI/form-control/input/input.tsx
  src/UI/form-control/textarea/textarea.tsx
  src/components/heading/heading.animations.ts
  src/components/heading/heading.css
  src/components/heading/heading.tsx
  src/components/project/browser/browser.css
  src/components/project/browser/browser.tsx
  src/components/project/browser/video/video.animations.ts
  src/components/project/project.animations.ts
  src/components/project/project.css
  src/components/project/project.tsx
  src/hooks/useCursor.tsx
Due: stylelint --cache --fix --color --formatter verbose

Update snapshots, Separate project tools, Edit cursor position custom property name
  src/components/cursor/__snapshots__/cursor.spec.tsx.snap
  src/components/cursor/cursor.tsx
  src/components/footer/footer.css
  src/components/heading/__snapshots__/heading.spec.tsx.snap
  src/components/layout/__snapshots__/layout.spec.tsx.snap
  src/components/logo/logo.css
  src/components/menu/menu.css
  src/components/project/__snapshots__/project.spec.tsx.snap
  src/components/project/project.css
  src/components/project/project.tsx
  src/components/project/tools/index.tsx
  src/components/project/tools/tools.css
  src/components/project/tools/tools.tsx
Due: stylelint --cache --fix --color --formatter verbose

Upgrade packages
  yarn.lock
Due: none

Add some transitions
  src/components/footer/footer.animations.ts
  src/components/footer/footer.css
  src/components/footer/footer.tsx
  src/components/keys/keys.animations.ts
  src/components/keys/keys.tsx
  src/components/logo/logo.animations.ts
  src/components/logo/logo.css
  src/components/logo/logo.tsx
  src/components/menu/menu.css
  src/components/menu/menu.tsx
  src/components/project/controls/controls.css
  src/components/project/controls/controls.tsx
  src/components/project/project.tsx
  src/components/project/tools/tools.tsx
  src/components/section/section.animations.ts
  src/components/section/section.tsx
Due: stylelint --cache --fix --color --formatter verbose

Edit animations
  src/UI/form-control/form/form.tsx
  src/assets/styles/index.css
  src/components/form/contact/contact.tsx
  src/components/heading/heading.tsx
  src/components/project/project.tsx
  src/pages/index.tsx
Due: stylelint --cache --fix --color --formatter verbose

Updated snapshots
  src/components/footer/__snapshots__/footer.spec.tsx.snap
  src/components/form/contact/__snapshots__/contact.spec.tsx.snap
  src/components/header/__snapshots__/header.spec.tsx.snap
  src/components/keys/__snapshots__/keys.spec.tsx.snap
  src/components/layout/__snapshots__/layout.spec.tsx.snap
  src/components/logo/__snapshots__/logo.spec.tsx.snap
  src/components/menu/__snapshots__/menu.spec.tsx.snap
  src/components/section/__snapshots__/section.spec.tsx.snap
Due: none

Remove unnecessary stories
  src/components/project/browser/addressbar/addressbar.stories.tsx
  src/components/project/browser/browser.stories.tsx
  src/components/project/browser/controls/controls.stories.tsx
  src/components/project/browser/target/target.stories.tsx
  src/components/project/browser/video/video.stories.tsx
  src/components/project/controls/controls.stories.tsx
Due: none

Add page transition, Update animations
  src/assets/styles/variables/variables.css
  src/components/aside/aside.animations.ts
  src/components/aside/aside.tsx
  src/components/curtain/curtain.animations.ts
  src/components/curtain/curtain.css
  src/components/curtain/curtain.tsx
  src/components/curtain/index.tsx
  src/components/footer/footer.animations.ts
  src/components/footer/footer.tsx
  src/components/form/contact/contact.tsx
  src/components/heading/heading.css
  src/components/heading/heading.tsx
  src/components/keys/keys.animations.ts
  src/components/keys/keys.tsx
  src/components/layout/layout.tsx
  src/components/logo/logo.tsx
  src/components/menu/menu.css
  src/components/nav/nav.animations.ts
  src/components/nav/nav.tsx
  src/components/project/browser/video/video.css
  src/components/project/project.tsx
  src/components/section/section.animations.ts
  src/components/section/section.tsx
Due: stylelint --cache --fix --color --formatter verbose

Page updates
  src/assets/styles/pages/index.css
  src/components/nav/nav.css
  src/components/project/browser/addressbar/addressbar.tsx
  src/pages/index.tsx
Due: stylelint --cache --fix --color --formatter verbose

Edit error pages heading component, Update curtain page transitions
  src/assets/styles/index.css
  src/components/curtain/curtain.animations.ts
  src/components/curtain/curtain.css
  src/components/footer/footer.tsx
  src/components/section/section.animations.ts
  src/pages/404.tsx
  src/pages/_error.tsx
Due: stylelint --cache --fix --color --formatter verbose

Edit README (add video converting info)
  README.md
Due: prettier --write

Update responsive, Edit page transition animations
  src/UI/form-control/input/input.css
  src/UI/form-control/textarea/textarea.css
  src/components/curtain/curtain.animations.ts
  src/components/footer/footer.css
  src/components/header/header.css
  src/components/heading/heading.css
  src/components/layout/layout.tsx
  src/components/project/browser/addressbar/addressbar.css
  src/components/project/browser/browser.animations.ts
  src/components/project/browser/browser.css
  src/components/project/browser/controls/controls.css
  src/components/project/browser/target/target.css
  src/components/project/browser/video/video.css
  src/components/project/browser/video/video.tsx
  src/components/project/project.css
  src/components/project/project.tsx
  src/components/section/section.animations.ts
  src/components/section/section.css
  src/enums/PageActionsEnum.ts
  src/hooks/useKeyboard.tsx
  src/hooks/usePageAction.tsx
  src/hooks/useSwipe.tsx
Due: stylelint --cache --fix --color --formatter verbose

Edit jest config, Add updated snapshots
  jest.config.js
  src/UI/form-control/form/__snapshots__/form.spec.tsx.snap
  src/UI/form-control/form/form.spec.tsx
  src/UI/form-control/input/input.spec.tsx
  src/UI/form-control/input/input.tsx
  src/UI/form-control/textarea/textarea.spec.tsx
  src/UI/form-control/textarea/textarea.tsx
  src/UI/loader/loader.css
  src/components/footer/__snapshots__/footer.spec.tsx.snap
  src/components/form/contact/__snapshots__/contact.spec.tsx.snap
  src/components/layout/__snapshots__/layout.spec.tsx.snap
  src/components/project/__snapshots__/project.spec.tsx.snap
  src/components/project/browser/__snapshots__/browser.spec.tsx.snap
  src/components/project/browser/video/__snapshots__/video.spec.tsx.snap
  src/components/section/__snapshots__/section.spec.tsx.snap
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Temporary remove cypress github action, Update snyk ignore list
  .github/workflows/cypress.yml
  .snyk
Due: prettier --write

Remove unnecessary file
  .nowignore
Due: none

Remove temporary unnecesary packages
  .percy.yml
  __test__/cypress/integration/contact.spec.js
  __test__/cypress/integration/index.spec.js
  __test__/cypress/integration/projects.spec.js
  __test__/cypress/plugins/index.js
  __test__/cypress/support/commands.js
  __test__/cypress/support/index.js
  cypress.json
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Updated snyk ignore file
  .snyk
Due: none

Edit coverage content in jest config file
  jest.config.js
Due: eslint --cache --fix

Add and update some tests, Rename element to snap cursor
  src/components/curtain/__snapshots__/curtain.spec.tsx.snap
  src/components/curtain/curtain.spec.tsx
  src/components/curtain/curtain.tsx
  src/components/footer/footer.tsx
  src/components/form/contact/contact.spec.tsx
  src/components/form/contact/contact.tsx
  src/components/header/__snapshots__/header.spec.tsx.snap
  src/components/header/header.tsx
  src/components/keys/key/key.tsx
  src/components/layout/__snapshots__/layout.spec.tsx.snap
  src/components/logo/logo.tsx
  src/components/menu/menu.tsx
  src/components/project/__snapshots__/project.spec.tsx.snap
  src/components/project/browser/__snapshots__/browser.spec.tsx.snap
  src/components/project/browser/addressbar/__snapshots__/addressbar.spec.tsx.snap
  src/components/project/browser/addressbar/addressbar.spec.tsx
  src/components/project/browser/addressbar/addressbar.tsx
  src/components/project/browser/controls/__snapshots__/controls.spec.tsx.snap
  src/components/project/browser/controls/controls.spec.tsx
  src/components/project/browser/controls/controls.tsx
  src/components/project/browser/target/target.tsx
  src/components/project/controls/__snapshots__/controls.spec.tsx.snap
  src/components/project/controls/controls.spec.tsx
  src/components/project/controls/controls.tsx
  src/components/project/project.tsx
  src/components/project/tools/__snapshots__/tools.spec.tsx.snap
  src/components/project/tools/tools.spec.tsx
  src/components/project/tools/tools.tsx
Due: none

Edit navigation animation timing, Add cloudfront env to vercel config
  src/components/nav/nav.animations.ts
  vercel.json
Due: prettier --write

Edit footer scroll dot animation, Short empty tags
  src/components/footer/__snapshots__/footer.spec.tsx.snap
  src/components/footer/footer.tsx
  src/components/layout/__snapshots__/layout.spec.tsx.snap
  src/components/layout/layout.tsx
  src/components/menu/menu.tsx
Due: none

Add gitguardian github action
  .github/workflows/gitguardian.yml
Due: prettier --write

Edit github action
  .github/workflows/gitguardian.yml
Due: prettier --write

Edit next-env definitions file
  next-env.d.ts
Due: none

Update state reducers, Add some reducer tests
  src/state/animation/reducer.spec.ts
  src/state/animation/reducer.ts
  src/state/cursor/reducer.spec.ts
  src/state/cursor/reducer.ts
  src/state/index.tsx
  src/state/menu/reducer.spec.ts
  src/state/menu/reducer.ts
  src/state/message/reducer.spec.ts
  src/state/message/reducer.ts
  src/state/project/reducer.spec.ts
  src/state/project/reducer.ts
  src/state/reducer.ts
Due: none

Create decoration devices
  src/assets/styles/pages/index.css
  src/components/device/computer/__snapshots__/computer.spec.tsx.snap
  src/components/device/computer/computer.css
  src/components/device/computer/computer.spec.tsx
  src/components/device/computer/computer.stories.tsx
  src/components/device/computer/computer.tsx
  src/components/device/computer/index.tsx
  src/components/device/mobile/__snapshots__/mobile.spec.tsx.snap
  src/components/device/mobile/index.tsx
  src/components/device/mobile/mobile.css
  src/components/device/mobile/mobile.spec.tsx
  src/components/device/mobile/mobile.stories.tsx
  src/components/device/mobile/mobile.tsx
  src/components/device/tablet/__snapshots__/tablet.spec.tsx.snap
  src/components/device/tablet/index.tsx
  src/components/device/tablet/tablet.css
  src/components/device/tablet/tablet.spec.tsx
  src/components/device/tablet/tablet.stories.tsx
  src/components/device/tablet/tablet.tsx
Due: stylelint --cache --fix --color --formatter verbose

Fixes
  src/UI/anchor/anchor.css
  src/UI/anchor/anchor.tsx
  src/components/form/contact/__snapshots__/contact.spec.tsx.snap
  src/components/form/contact/contact.css
  src/components/form/contact/contact.tsx
  src/components/header/__snapshots__/header.spec.tsx.snap
  src/components/keys/keys.tsx
  src/components/layout/__snapshots__/layout.spec.tsx.snap
  src/components/layout/layout.tsx
  src/components/menu/__snapshots__/menu.spec.tsx.snap
  src/components/menu/menu.tsx
  src/components/project/__snapshots__/project.spec.tsx.snap
  src/components/project/browser/__snapshots__/browser.spec.tsx.snap
  src/components/project/browser/target/__snapshots__/target.spec.tsx.snap
  src/components/project/tools/__snapshots__/tools.spec.tsx.snap
  src/components/project/tools/tools.tsx
  src/pages/contact.tsx
  src/pages/index.tsx
  src/pages/projects.tsx
Due: stylelint --cache --fix --color --formatter verbose

Edit device video sizing, Update homepage
  src/components/device/computer/computer.css
  src/components/device/mobile/mobile.css
  src/components/device/tablet/tablet.css
  src/pages/index.tsx
Due: stylelint --cache --fix --color --formatter verbose

Add picture component
  src/UI/picture/__snapshots__/picture.spec.tsx.snap
  src/UI/picture/index.tsx
  src/UI/picture/picture.css
  src/UI/picture/picture.spec.tsx
  src/UI/picture/picture.stories.tsx
  src/UI/picture/picture.tsx
Due: stylelint --cache --fix --color --formatter verbose

Update references for mobile
  src/components/header/header.tsx
  src/components/layout/layout.css
  src/components/project/__snapshots__/project.spec.tsx.snap
  src/components/project/browser/__snapshots__/browser.spec.tsx.snap
  src/components/project/browser/browser.tsx
  src/components/project/browser/video/video.css
  src/hooks/useWindowSize.ts
Due: stylelint --cache --fix --color --formatter verbose

Edit aside position in document, Add preconnect
  src/components/layout/layout.tsx
Due: none

Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

Update icon component, Edit component animations with framer (move to separate file), Rename hook files
  src/UI/alert/alert.animations.ts
  src/UI/alert/alert.tsx
  src/UI/icon/icon.stories.tsx
  src/UI/icon/icon.tsx
  src/UI/icon/index.tsx
  src/assets/images/icon_message.svg
  src/assets/styles/pages/index.css
  src/components/device/mobile/mobile.animations.ts
  src/components/device/mobile/mobile.tsx
  src/components/footer/__snapshots__/footer.spec.tsx.snap
  src/components/footer/footer.animations.ts
  src/components/footer/footer.css
  src/components/footer/footer.tsx
  src/components/layout/__snapshots__/layout.spec.tsx.snap
  src/components/nav/nav.css
  src/components/project/browser/browser.tsx
  src/enums/MediaQueriesEnum.ts
  src/hooks/useCursor.ts
  src/hooks/useKeyboard.ts
  src/hooks/usePageAction.ts
  src/hooks/useProjectAction.ts
  src/hooks/useSwipe.ts
  src/hooks/useWheel.ts
  src/pages/index.tsx
Due: stylelint --cache --fix --color --formatter verbose
