Repository ZdenekD/zdenekd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

Update aside because of tests
  src/components/aside/aside.jsx
  src/components/footer/footer.css
  src/components/footer/keys/keys.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update browserslist
  .browserslistrc
Due: none

Update project transition, Edit aside link animation for non hover devices
  src/components/aside/aside.css
  src/components/project/project.css
  src/components/project/project.jsx
  src/pages/_document.js
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update homepage text
  src/pages/_app.css
  src/pages/homepage.css
  src/pages/index.jsx
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Update homepage test
  src/pages/index.jsx
Due: eslint --cache --fix

Edit project video
  src/components/project/project.css
Due: stylelint --cache --fix --color --formatter verbose

Edit body overflow
  src/pages/_index.css
Due: stylelint --cache --fix --color --formatter verbose

Update homepage text
  src/pages/index.jsx
Due: eslint --cache --fix

Install percy for cypress, Update tasks
  package.json
  yarn.lock
Due: prettier --write

Add percy badge, Add percy and cypress integration config files
  .github/workflows/cypress.yml
  .percy.yml
  README.md
  __test__/cypress/plugins/index.js
  __test__/cypress/support/commands.js
  __test__/cypress/support/index.js
  cypress.json
Due: eslint --cache --fix, prettier --write

Add snapshots to cypress
  __test__/cypress/integration/contact.spec.js
  __test__/cypress/integration/index.spec.js
  __test__/cypress/integration/projects.spec.js
Due: eslint --cache --fix

Typo
  .github/workflows/cypress.yml
Due: prettier --write

Typo
  src/data/projects.js
Due: eslint --cache --fix

Make small updates due to webhint
  src/assets/styles/reset.css
  src/components/layout/main/main.jsx
  src/pages/_document.js
  src/pages/_index.css
Due: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose

Edit homepage text, Add plausible analytics
  src/components/layout/main/main.jsx
  src/pages/index.jsx
Due: eslint --cache --fix

Add snapshot names to cypress tests
  __test__/cypress/integration/contact.spec.js
  __test__/cypress/integration/index.spec.js
  __test__/cypress/integration/projects.spec.js
Due: eslint --cache --fix

Install fastify
  package.json
  yarn.lock
Due: prettier --write

Create server with fastify
  src/server.js
Due: eslint --cache --fix

Edit cypress workflow
  .github/workflows/cypress.yml
Due: prettier --write

Upgrade packages, Edit config files
  .hintrc
  .stylelintrc
  cypress.json
  jest.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

Update jest tests
  src/__test__/utils/helpers.js
  src/components/aside/aside.spec.js
  src/components/footer/footer.spec.js
  src/components/footer/keys/keys.spec.js
  src/components/heading/heading.spec.js
  src/components/layout/main/main.jsx
  src/components/menu/menu.spec.js
  src/state/index.js
  src/store/app/actions.spec.js
  src/store/menu/actions.spec.js
Due: eslint --cache --fix

Update packages
  package.json
  yarn.lock
Due: prettier --write

Run snyk protect and update patches
  .snyk
  package.json
  yarn.lock
Due: prettier --write

Typo
  package.json
Due: prettier --write

Add missing snyk package
  package.json
  yarn.lock
Due: prettier --write

Edit package json because of snyk
  package.json
  yarn.lock
Due: prettier --write

Updated snyk ignore, Update packages
  .snyk
  yarn.lock
Due: none

Update packages, Update snyk ignore
  .snyk
  yarn.lock
Due: none

Add 404 error page (separated from error), Edit api send e-mail
  src/pages/404.jsx
  src/pages/api/send.js
Due: eslint --cache --fix

Add 404 page test
  src/__test__/404.spec.js
Due: eslint --cache --fix

Added snyk patches
  .snyk
Due: none

Update snyk, Add lodash (maybe it helps in actions)
  .snyk
  package.json
Due: prettier --write

Add fetch depth to cypress action
  .github/workflows/cypress.yml
Due: prettier --write

Edit github actions
  .github/workflows/cypress.yml
  .github/workflows/jest.yml
  .github/workflows/snyk.yml
Due: prettier --write

Edit actions
  .github/workflows/cypress.yml
  .github/workflows/jest.yml
  .github/workflows/snyk.yml
Due: prettier --write

Edit cypress action
  .github/workflows/cypress.yml
Due: prettier --write

Update packages
  yarn.lock
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx}
  stylelint --cache --fix --color --formatter verbose: any of: *.css
  prettier --write: any of: *.{json,md,yml,html}
