Repository ZdenekD/zdenekd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --color --formatter verbose, prettier --write

.lintstagedrc:

{
    "*.{js,jsx}": [
      "eslint --cache --fix"
    ],
    "*.css": [
      "stylelint --cache --fix --color --formatter verbose"
    ],
    "*.{json,md,yml,html}": [
      "prettier --write"
    ]
}

Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

Edit server, Edit send api
  src/pages/api/send.js
  src/server.js
Due: eslint --cache --fix

Upgrade packages
  yarn.lock
Due: none

Updated snyk ignore
  .snyk
Due: none

Update react
  package.json
  yarn.lock
Due: prettier --write

Create named exports
  src/state/cursor/reducer.js
  src/state/reducer.js
  src/store/app/reducer.js
  src/store/menu/reducer.js
  src/store/project/reducer.js
Due: eslint --cache --fix

Upgraded packages (doesn't work yet)
  package.json
  yarn.lock
Due: prettier --write

Small name edit
  src/pages/api/send.js
  src/state/cursor/reducer.js
  src/store/app/reducer.js
  src/store/menu/reducer.js
  src/store/project/reducer.js
Due: eslint --cache --fix

Upgrade packages, Add typescript, Update config files
  .babelrc
  .browserslistrc
  .eslintignore
  .eslintrc
  .gitignore
  .prettierignore
  .prettierrc
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview-head.html
  .storybook/preview.js
  .stylelintignore
  .stylelintrc
  .vercelignore
  README.md
  __test__/transform/css.js
  jest.config.js
  jsconfig.json
  next-css/css-loader-config.js
  next-css/index.js
  next-env.d.ts
  next.config.js
  package.json
  postcss.config.js
  tsconfig.json
  tsconfig.test.json
  vercel.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Update storybook config, Add animejs package
  .storybook/main.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Continue rewriting components
  src/UI/anchor/anchor.css
  src/UI/form-control/form/form.css
  src/components/aside/aside.css
  src/components/aside/aside.spec.tsx
  src/components/aside/aside.stories.tsx
  src/components/aside/aside.tsx
  src/components/footer/footer.css
  src/components/footer/footer.stories.tsx
  src/components/footer/footer.tsx
  src/components/form/contact/contact.css
  src/components/form/contact/contact.stories.tsx
  src/components/form/contact/contact.tsx
  src/components/header/header.stories.tsx
  src/components/header/header.tsx
  src/components/layout/layout.css
  src/components/layout/layout.stories.tsx
  src/components/logo/logo.css
  src/components/logo/logo.stories.tsx
  src/components/menu/menu.css
  src/components/menu/menu.stories.tsx
  src/components/nav/nav.stories.tsx
  src/components/project/project.css
  src/components/project/project.stories.tsx
  src/components/section/seciton.stories.tsx
  src/components/section/section.css
Due: stylelint --cache --fix --color --formatter verbose

Update navigation
  src/components/aside/aside.animations.ts
  src/components/aside/aside.css
  src/components/aside/aside.spec.tsx
  src/components/aside/aside.stories.tsx
  src/components/aside/aside.tsx
  src/components/header/header.css
  src/components/header/header.tsx
  src/components/menu/menu.animations.ts
  src/components/menu/menu.tsx
  src/components/nav/nav.animations.ts
  src/components/nav/nav.css
  src/components/nav/nav.tsx
Due: stylelint --cache --fix --color --formatter verbose

Edit state and and actions
  src/state/cursor/actions.ts
  src/state/initialState.ts
  src/state/menu/actions.ts
  src/state/menu/reducer.ts
  src/state/menu/type/actions.ts
  src/state/menu/type/index.ts
  src/state/message/actions.ts
  src/state/reducer.ts
  src/state/type/actions.ts
  src/state/type/state.ts
Due: none

Edit navigation animations
  src/components/aside/aside.animations.ts
  src/components/nav/nav.animations.ts
Due: none

Style form controls
  src/UI/form-control/button/button.css
  src/UI/form-control/button/button.tsx
  src/UI/form-control/form/form.css
  src/UI/form-control/input/input.css
  src/UI/form-control/input/input.stories.tsx
  src/UI/form-control/input/input.tsx
  src/UI/form-control/textarea/textarea.css
  src/UI/form-control/textarea/textarea.stories.tsx
  src/UI/form-control/textarea/textarea.tsx
Due: stylelint --cache --fix --color --formatter verbose

Add project browser component, Update some styles
  src/components/footer/footer.css
  src/components/form/contact/contact.tsx
  src/components/header/header.css
  src/components/logo/logo.tsx
  src/components/project/browser/browser.css
  src/components/project/browser/browser.spec.tsx
  src/components/project/browser/browser.stories.tsx
  src/components/project/browser/browser.tsx
  src/components/project/browser/index.tsx
  src/components/project/controls/controls.css
  src/components/project/controls/controls.spec.tsx
  src/components/project/controls/controls.stories.tsx
  src/components/project/controls/controls.tsx
  src/components/project/controls/index.tsx
  src/components/project/project.css
  src/components/project/project.tsx
  src/components/section/section.css
  src/data/projects.ts
Due: stylelint --cache --fix --color --formatter verbose

Update form controls, Update states
  src/UI/form-control/input/input.css
  src/UI/form-control/textarea/textarea.css
  src/UI/form-control/textarea/textarea.stories.tsx
  src/components/form/contact/contact.tsx
  src/hooks/hover.tsx
  src/state/cursor/actions.ts
  src/state/cursor/type/actions.ts
  src/state/message/actions.ts
  src/state/message/type/actions.ts
Due: stylelint --cache --fix --color --formatter verbose

Update form controls
  src/UI/form-control/input/input.css
  src/UI/form-control/textarea/textarea.css
Due: stylelint --cache --fix --color --formatter verbose

Add state provider to storybook
  .storybook/preview.js
Due: eslint --cache --fix

Update form controls
  src/UI/anchor/anchor.tsx
  src/UI/form-control/button/button.css
  src/UI/form-control/button/button.tsx
  src/UI/form-control/form/form.css
  src/UI/form-control/form/form.tsx
  src/UI/form-control/input/input.css
  src/UI/form-control/textarea/textarea.css
Due: stylelint --cache --fix --color --formatter verbose

Add keys component, Other small component updates
  src/assets/styles/pages/projects.css
  src/components/footer/footer.css
  src/components/footer/footer.tsx
  src/components/form/contact/contact.css
  src/components/form/contact/contact.tsx
  src/components/keys/index.tsx
  src/components/keys/key.stories.tsx
  src/components/keys/key/index.tsx
  src/components/keys/key/key.css
  src/components/keys/key/key.stories.tsx
  src/components/keys/key/key.tsx
  src/components/keys/keyDown/index.tsx
  src/components/keys/keyDown/keyDown.css
  src/components/keys/keyDown/keyDown.tsx
  src/components/keys/keyLeft/index.tsx
  src/components/keys/keyLeft/keyLeft.css
  src/components/keys/keyLeft/keyLeft.tsx
  src/components/keys/keyRight/index.tsx
  src/components/keys/keyRight/keyRight.css
  src/components/keys/keyRight/keyRight.tsx
  src/components/keys/keyUp/index.tsx
  src/components/keys/keyUp/keyUp.css
  src/components/keys/keyUp/keyUp.tsx
  src/components/keys/keys.css
  src/components/keys/keys.tsx
  src/components/project/browser/browser.css
  src/components/project/browser/browser.tsx
  src/components/project/controls/controls.tsx
  src/components/project/project.css
  src/data/projects.ts
  src/enums/DirectionsEnum.ts
Due: stylelint --cache --fix --color --formatter verbose

Remove unnecessary now config (use vercel config)
  now.json
Due: prettier --write

Add underscore package
  package.json
  yarn.lock
Due: prettier --write

Add project state
  src/state/initialState.ts
  src/state/message/reducer.ts
  src/state/project/actions.ts
  src/state/project/reducer.ts
  src/state/project/type/actions.ts
  src/state/project/type/index.ts
  src/state/reducer.ts
  src/state/type/actions.ts
  src/state/type/state.ts
Due: none

Create some hooks for pages and projects control
  src/data/pages.ts
  src/data/projects.ts
  src/enums/PageActionsEnum.ts
  src/enums/PagesEnum.ts
  src/enums/ProjectActionsEnum.ts
  src/helpers/getPage.spec.ts
  src/helpers/getPage.ts
  src/helpers/getPageIndex.spec.ts
  src/helpers/getPageIndex.ts
  src/hooks/useKeyboard.tsx
  src/hooks/useMouse.tsx
  src/hooks/usePageAction.tsx
  src/hooks/useProjectAction.tsx
  src/pages/contact.tsx
  src/pages/index.tsx
  src/pages/projects.tsx
Due: none

Update components, Fix some tests, Update snapshots
  src/assets/styles/index.css
  src/components/aside/__snapshots__/aside.spec.tsx.snap
  src/components/aside/aside.spec.tsx
  src/components/footer/__snapshots__/footer.spec.tsx.snap
  src/components/footer/footer.spec.tsx
  src/components/footer/footer.tsx
  src/components/form/contact/__snapshots__/contact.spec.tsx.snap
  src/components/header/__snapshots__/header.spec.tsx.snap
  src/components/keys/keys.tsx
  src/components/layout/__snapshots__/layout.spec.tsx.snap
  src/components/layout/layout.tsx
  src/components/nav/__snapshots__/nav.spec.tsx.snap
  src/components/nav/nav.spec.tsx
  src/components/nav/nav.tsx
  src/components/project/__snapshots__/project.spec.tsx.snap
  src/components/project/browser/__snapshots__/browser.spec.tsx.snap
  src/components/project/browser/browser.css
  src/components/project/controls/controls.css
  src/components/project/project.tsx
Due: stylelint --cache --fix --color --formatter verbose

Add animation state, Update project video handle
  src/UI/form-control/button/button.css
  src/UI/form-control/input/input.css
  src/UI/form-control/textarea/textarea.css
  src/components/aside/aside.tsx
  src/components/footer/footer.css
  src/components/footer/footer.tsx
  src/components/header/header.css
  src/components/header/header.tsx
  src/components/keys/key/key.css
  src/components/menu/menu.css
  src/components/menu/menu.tsx
  src/components/project/browser/browser.css
  src/components/project/browser/browser.tsx
  src/components/project/project.css
  src/components/project/project.tsx
  src/data/config.ts
  src/state/animation/actions.ts
  src/state/animation/reducer.ts
  src/state/animation/type/actions.ts
  src/state/animation/type/index.ts
  src/state/initialState.ts
  src/state/reducer.ts
  src/state/type/actions.ts
  src/state/type/state.ts
Due: stylelint --cache --fix --color --formatter verbose

Fix and update states
  src/state/cursor/actions.ts
  src/state/cursor/reducer.ts
  src/state/message/actions.ts
Due: none

Add cursor component with snap hook
  src/UI/form-control/button/button.css
  src/UI/form-control/input/input.css
  src/UI/form-control/textarea/textarea.css
  src/assets/styles/index.css
  src/components/aside/aside.tsx
  src/components/cursor/cursor.css
  src/components/cursor/cursor.spec.tsx
  src/components/cursor/cursor.tsx
  src/components/cursor/index.tsx
  src/components/header/header.css
  src/components/keys/key/key.css
  src/components/layout/layout.tsx
  src/components/menu/menu.css
  src/components/menu/menu.tsx
  src/components/nav/nav.tsx
  src/components/project/browser/browser.css
  src/components/project/controls/controls.css
Due: stylelint --cache --fix --color --formatter verbose

Add cursor snap hook
  src/hooks/useHover.tsx
Due: none

Update snap elements
  src/components/footer/footer.tsx
  src/components/keys/key/key.tsx
  src/components/logo/logo.tsx
  src/components/menu/menu.tsx
  src/hooks/useCursor.tsx
Due: none

Project component clearing and separation
  src/components/header/header.css
  src/components/menu/menu.css
  src/components/nav/nav.css
  src/components/project/browser/addressbar/addressbar.css
  src/components/project/browser/addressbar/addressbar.tsx
  src/components/project/browser/addressbar/index.tsx
  src/components/project/browser/browser.css
  src/components/project/browser/browser.tsx
  src/components/project/browser/controls/controls.css
  src/components/project/browser/controls/controls.tsx
  src/components/project/browser/controls/index.tsx
  src/components/project/browser/video/index.tsx
  src/components/project/browser/video/video.css
  src/components/project/browser/video/video.tsx
  src/components/project/controls/controls.tsx
  src/components/project/project.css
Due: stylelint --cache --fix --color --formatter verbose

Edit project tools component
  src/components/project/project.css
  src/components/project/project.tsx
Due: stylelint --cache --fix --color --formatter verbose

Add some shadow transitions
  src/components/cursor/cursor.css
  src/components/footer/footer.css
  src/components/header/header.css
  src/components/logo/logo.css
  src/components/logo/logo.tsx
  src/components/menu/menu.css
  src/components/nav/nav.css
  src/components/project/browser/browser.css
  src/components/project/project.css
Due: stylelint --cache --fix --color --formatter verbose

Prepare form, Update useRef types
  src/UI/alert/alert.css
  src/UI/alert/alert.spec.tsx
  src/UI/alert/alert.stories.tsx
  src/UI/alert/alert.tsx
  src/UI/alert/index.tsx
  src/UI/form-control/input/input.tsx
  src/UI/form-control/textarea/textarea.tsx
  src/api/types/IApi.ts
  src/components/footer/footer.css
  src/components/form/contact/contact.tsx
  src/components/layout/layout.tsx
  src/components/menu/menu.css
  src/components/project/browser/addressbar/addressbar.css
  src/components/project/project.css
  src/helpers/animation/fade.ts
  src/pages/api/send.ts
Due: stylelint --cache --fix --color --formatter verbose

Update cursor hook and component
  src/components/cursor/cursor.css
  src/components/cursor/cursor.tsx
  src/components/footer/footer.css
  src/components/form/contact/contact.tsx
  src/components/layout/layout.tsx
  src/components/logo/logo.css
  src/components/menu/menu.css
  src/components/project/browser/addressbar/addressbar.css
  src/components/project/browser/addressbar/addressbar.tsx
  src/components/project/browser/browser.css
  src/components/project/browser/browser.tsx
  src/components/project/browser/target/index.tsx
  src/components/project/browser/target/target.css
  src/components/project/browser/target/target.tsx
  src/components/project/browser/video/video.tsx
  src/components/project/project.css
  src/hooks/useCursor.tsx
  src/hooks/useWheel.tsx
Due: stylelint --cache --fix --color --formatter verbose
